<app-header></app-header>

<div class="page">

    <div class="banner">
        <h1>Education at Lotus Hospitals</h1>
        <p>Lotus Hospitals has a nationally recognised Newborn & Intensive Care Programme that is carefully curated by Dr. V.S.V. Prasad, one of the most-sought after pediatricians in South India. For over a decade (10
            years), we have also been conducting a 3 Year Programme in Pediatrics Training – Affiliated with the National Board of Examination which is known to produce some of the best pediatricians in the country.
        </p>
    </div>


    <div class="for-doctors">
        <h2>For Aspiring Doctors</h2>

        <h3>Pediatric Critical Care / Pediatric Intensive Care</h3>
        <p>Lotus Hospitals is accredited by the <span>I.A.P Intensive Care Chapter</span> (Indian Academy of Pediatrics – Intensive Care Chapter & College of Pediatric Critical Care) for training pediatricians aspiring to become
            trained ‘Pediatric Intensivists.’
        </p>

        <p>Eligibility : MD Pediatrics, DNB Pediatrics Degree or DCH (Diploma in Child Health) Degree from any recognized university
            (MCI – Medical Council of India Recognised Institution)
        </p>
        <p> Duration : 1 year for (MD Pediatrics or DNB Pediatrics Degree holders)
            2 years for (DCH Degree holders)
        </p>
        <p>Interviews are conducted on November 1st every year for two positions for training. The course commences on December 1st every year and the exit examination is conducted by the <span>Pediatric Critical Care Council</span>
            every year in mid December. Detailed information about the course can be obtained from the website of the Indian Academy of Pediatrics – Intensive Care Chapter at www.piccindia.com
            Prospective candidates may access the College tab on their website, and review the information for the IDPCCM – One Year Fellowship Course and follow the instructions as well as requirements and eligibility
            for the training.
        </p>
        <p>All applicants are requested to write an email to hr@lotushospitals.in with the subject heading of the email as :
            <span>Application for PICU Fellowship</span> and attach their curriculum vitae / résumé. The hospital
            administration will contact and communicate with the candidates directly.
        </p>

        <h3>Newborn & Intensive Care Programme</h3>
        <p>Lotus Hospitals is accredited by the <span>I.A.P. Neonatology Chapter</span> (Indian Academy of Pediatrics – Neonatology Chapter) for
            training pediatricians aspiring to become trained ‘Neonatologists.’
        </p>
        <p>Eligibility : MD Pediatrics , DNB Pediatrics Degree or DCH (Diploma in Child Health) Degree from any recognized university
            ( MCI – Medical Council of India Recognised Institution)
        </p>
        <p>Duration : 1 year for (MD Pediatrics or DNB Pediatrics Degree holders)
            1.5 years for (DCH Degree holders)
        </p>
        <p>Interviews are conducted on November 1st every year for two positions for training. The course commences on January 1st every year and the exit examination is conducted by the <span>Indian Academy of Pediatrics –
            Neonatology Chapter</span> twice a year in the month of July and January.</p>
        <p>All applicants are requested to write an email to hr@lotushospitals.in with the subject heading of the email as : <span>Application for NICU Fellowship</span> and attach their curriculum vitae / résumé. The hospital
            administration will contact and communicate with the candidates directly.
        </p>

        <h3>Diplomate of the National Board – Pediatrics</h3>
        <p>Lotus Hospitals is accredited by the <span>National Board of Examinations</span>, Ministry of Health & Family Welfare, Government of India, New Delhi, for training pediatricians aspiring to become highly trained
            ‘Pediatricians.’
        </p>
        <p>Eligibility : MBBS Degree or a DCH (Diploma in Child Health) Degree from any recognized university (MCI – Medical Council of India Recognised Institution).
        </p>
        <p>Duration : 3 years for (MBBS Pediatrics Degree holders)
            2.5 years for (DCH Degree holders)
        </p>
        <p>Information regarding eligibility, screening tests / interviews may be obtained from the website of the <span>National Board of Examinations</span>, New Delhi — www.natboard.edu
        </p>
        <p>Selection of candidates is centralized and completely in the purview of the <span>National Board of Examinations</span>, New Delhi. We are accredited to train one MBBS (Primary) Candidate and one DCH (Secondary) candidate
            per year.
        </p>
        <p>The DNB Pediatrics Programme at Lotus Hospitals has been in existence for over a decade now. <span>Our overall pass rate (first attempt) for both Primary and Secondary postgraduate students so far has been 90%. Over
            the last four years, our pass rate has been consistently 100%</span>. We are proud of the performance of our students thus far.
        </p>


        <h2>For Aspiring Nurses</h2>
        <p>Lotus Hospitals offers a thorough and structured training programme for nurses wishing to pursue a career or fulfil
            requirements for nursing training in Pediatrics and Neonatology.
        </p>
        <p>Eligibility : GNM Degree / B.Sc Nursing Degree.</p>
        <p>Duration : 2 years (can be flexible)</p>
        <p>Training is hands-on and rigorous and involves direct patient care after sufficient instruction and mentorship by senior nursing staff.
            You will gain exposure and confidence in looking after newborns and
            children in Intensive Care Units, General Wards and Emergency Departments.
        </p>
        <p>Interested nurses may apply via email to hr@lotushospitals.in with the subject header <span>‘Application for Nursing Training‘</span> and attach their
            curriculum vitae / résumé. The hospital administration / Nursing
            Manager will contact and communicate with the candidates directly.
        </p>
    </div>


    <div class="consult-with-doctors">
        <h4>Consult with our doctors</h4>
        <button>Book Now</button>
    </div>
</div>

<app-footer></app-footer>
