@import "src/styles";

.page {
    .banner {
        background: url("../../../../assets/icons/packages/bg_paediatric.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.baby-packages {
    display: flex;
    padding: 60px 108px;
    padding-bottom: 120px;
    background: white;
    border-bottom: 0.1px solid $Blue-W;
    position: relative;

    img {
        margin-right: 60px;
    }

    section {
        display: flex;
        flex-direction: column;
        margin-right: 35px;

        h3 {
            color: $LH-Blue;
            line-height: unset;
            margin-bottom: 0.8em;
        }

        h4 {
            color: $LH-Peach;
        }

    }

    button {
        position: absolute;
        bottom: 30px;
        background: $Blue-P;
    }
}

.faqs {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: $Blue-W;
    padding-top: 60px;
    padding-bottom: 100px;

    h2 {
        color: $LH-Blue;
        margin-bottom: 35px;
    }

    .faq {
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;
        width: 1020px;
        cursor: pointer;

        div {
            display: flex;
            justify-content: space-between;

        }

    }

}
