@import "src/styles";

.baby-packages {
    display: flex;
    flex-direction: column;
    padding: 25px;

    .img-container {
    }


    section {
        padding: 25px 0;
        padding-bottom: 0;
        width: 100%;
        margin-left: 0;

        button {
            position: relative;
            margin-top: 20px;
            bottom: unset;
        }
    }
}


.faqs {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: $Blue-W;
    padding: 25px;


    h2 {
        color: $LH-Blue;
        margin-bottom: 15px;
    }

    .faq {
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;
        width: 100%;

        div {
            display: flex;
            justify-content: space-between;
        }

    }
}
