@import "src/styles";

.page {
    .banner {
        background: url("../../../../assets/icons/packages/bg_paediatric_mobile.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
}


.baby-packages {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 25px;

    .img-container {
        display: flex;
        justify-content: center;
    }


    section {
        padding: 65px 0;
        padding-bottom: 0;
        width: 100%;
        margin-left: 0;

        h3, h4 {
            text-align: center;
        }

        h4 {
            margin-bottom: 15px;
        }

        button {
            position: relative;
            margin-top: 20px;
            bottom: unset;
        }

        a {
            display: flex;
            justify-content: center;
        }
    }
}

.faqs {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: $Blue-W;
    padding: 25px;


    h2 {
        color: $LH-Blue;
        margin-bottom: 15px;
    }

    .faq {
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;
        width: 100%;

        div {
            display: flex;
            justify-content: space-between;
        }

    }
}
