@import "src/styles";

.baby-packages {
    display: flex;
    padding: 0 108px;
    background: white;
    border-bottom: 0.1px solid $Blue-W;
    position: relative;

    img {

    }

    section {
        display: flex;
        flex-direction: column;
        margin-right: 35px;
        padding: 60px 108px;
        padding-bottom: 120px;

        h3 {
            color: $LH-Blue;
            line-height: unset;
            margin-bottom: 0.8em;
        }

        h4 {
            color: $LH-Peach;
        }

    }

    button {
        position: absolute;
        bottom: 30px;
        background: $Blue-P;
    }
}


@media only screen and (min-width: 1280px) {
    @import "paediatrics-package.desktop";
}

@media only screen and (max-width: 1280px) and (min-width: 768px) {
    @import "paediatrics-package.tablet";
}

@media only screen and (max-width: 767px) {
    @import "paediatrics-package.mobile";
}
