<app-header></app-header>

<div class="careers">

    <div class="banner">

        <div class="banner-left">
            <h3>Career Form</h3>
            <div class="input-group">
                <img src="assets/icons/careers/name.svg">
                <input placeholder="Name*">
            </div>
            <div class="input-group">
                <img src="assets/icons/careers/email.svg">
                <input placeholder="Email*">
            </div>
            <div class="input-group">
                <img src="assets/icons/careers/phone.svg">
                <input placeholder="Phone no*">
            </div>
            <div class="input-group">
                <img src="assets/icons/careers/qualification.svg">
                <input placeholder="Qualification*">
            </div>
            <div class="input-group">
                <img src="assets/icons/careers/workex.svg">
                <input placeholder="Work Experience*">
            </div>

            <div class="applying-for">
                <header>Applying for</header>
                <app-dropdown class="dropdown" [dropdownItems]="[1,2,3,4,5]" [dropdownConfig]="dpLocation"></app-dropdown>
            </div>

            <div class="applying-for">
                <header>Upload Resume</header>
                <button>Upload</button>
            </div>

            <div class="button-container">
                <button>Send</button>
            </div>

        </div>
        <div class="banner-right">
            <h1>Careers at Lotus</h1>
            <p>India’s Finest 250 bedded Women and Children’s Hospital requires the following personnel immediately:</p>
            <p> We are recruiting Resident doctors who can join immediately. Qualification – MBBS, Experience – 0 to 5 Years,
                Shift – Rotational Shift. Interested Candidates may email resumes to: hr@lotushospitals.in or contact between 9 am to 6 pm at 5th
                Floor Administration.</p>

        </div>
    </div>


    <div class="consult-with-doctors">
        <h4>Consult with our doctors</h4>
        <button>Book Now</button>
    </div>
</div>


<app-footer></app-footer>
