<app-header></app-header>
<app-go-back></app-go-back>


<!--Only Edit This-->
<div class="blog-content">
    <h1>Everything You Should Know About the Nipah Virus</h1>

    <div class="dates">
        <div class="date">
            <img src="assets/icons/blogs/blog/calendar.svg">
            <p>25 July 2020</p>
        </div>
        <div class="date">
            <img src="assets/icons/blogs/blog/folder.svg">
            <p>News & Events </p>
        </div>
    </div>

    <img class="mainimage" src="assets/icons/blogs/blog-first/blog-first.png">

    <p>Kerala is on high alert these days due to mysterious deaths caused by an unidentified viral attack. Out of these, three have been confirmed as having been caused by Nipah Virus (NiV). The virus has no vaccine for
        animals or humans as of now, and is yet to be understood by many. Here’s a quick post on everything you need to know about NIV, its symptoms and the precautions you must take to protect yourself.</p>


    <h2>What is Nipah Virus</h2>
    <p>According to the World Health Organization, Nipah Virus is a newly emerging zoonosis that causes a severe disease in both humans and animals. The virus was first found in Singapore and Malaysia in 1998, where it
        infected approximately 265 people. 40 %of these patients were taken into intensive care immediately. It was identified in pigs first and soon got transmitted to humans.</p>


    <p class="quotes">
        If any of these symptoms are left unattended, the patient might end in a coma within 24-48 hours which will eventually lead to death.
    </p>

    <h3>Symptoms and Signs:</h3>
    <p>• Headache and fever</p>
    <p>• Sore throat</p>
    <p>• Dizziness</p>
    <p>• Muscle aches</p>
    <p>• Acute respiratory syndrome</p>
    <p>• Atypical pneumonia</p>
    <p>• Encephalitis or inflammation of the brain</p>

    <h4>Prevention</h4>
    <p>If you find someone suffering with these symptoms, take immediate action. The Nipah Virus is quick to spread and can get worse if left unattended. Consult a doctor or bring them to Lotus Hospitals!</p>

    <p>Kerala is on high alert these days due to mysterious deaths caused by an unidentified viral attack. Out of these, three have been confirmed as having been caused by Nipah Virus (NiV). The virus has no vaccine for
        animals or humans as of now, and is yet to be understood by many. Here’s a quick post on everything you need to know about NIV, its symptoms and the precautions you must take to protect yourself. Kerala is on
        high alert these days due to mysterious deaths caused by an unidentified viral attack. Out of these, three have been confirmed as having been caused by Nipah Virus (NiV). The virus has no vaccine for animals or
        humans as of now, and is yet to be understood by many. Here’s a quick post on everything you need to know about NIV, its symptoms and the precautions you must take to protect yourself.</p>

</div>


<app-additional-blogs></app-additional-blogs>
<app-footer></app-footer>
