<div class="app-top-header">
    <a href="/Lotus-Hospitals/careers">
        <p [ngClass]="{'selected':router.url.includes('careers')}">Careers</p>
    </a>
    <a href="/Lotus-Hospitals/corporates">
        <p [ngClass]="{'selected':router.url.includes('corporates')}">Corporates</p>
    </a>
    <a href="/Lotus-Hospitals/education">
        <p [ngClass]="{'selected':router.url.includes('education')}">Education</p>
    </a>
</div>
<div class="app-bottom-header">
    <div class="abh-left">
        <img src="assets/icons/logo/logo.svg" (click)="navigateTo('')">
    </div>
    <div class="abh-right">
        <div class="dropdown">
            <p>Services</p>
            <div class="dropdown-content">
                <a href="/Lotus-Hospitals/paediatrics">
                    <header>Paediatrics</header>
                </a>
                <a href="/Lotus-Hospitals/gynaecology">
                    <header>Gynaecology</header>
                </a>
                <a href="/Lotus-Hospitals/fertility">
                    <header>Fertility</header>
                </a>
                <a href="/Lotus-Hospitals/maternity">
                    <header>Maternity</header>
                </a>
                <a href="/Lotus-Hospitals/neonatology">
                    <header>Neonatology</header>
                </a>
            </div>
        </div>
        <a href="/Lotus-Hospitals/branches">
            <p [ngClass]="{'selected':router.url.includes('branches')}">Branches</p>
        </a>
        <div class="dropdown">
            <p [ngClass]="{'selected':router.url.includes('packages')}">Health Packages</p>
            <div class="dropdown-content">
                <a href="/Lotus-Hospitals/packages">
                    <header>Pediatric Health Packages</header>
                </a>
                <a href="/Lotus-Hospitals/packages/women">
                    <header>Women's Health Packages</header>
                </a>
            </div>
        </div>
        <a href="/Lotus-Hospitals/doctors">
            <p [ngClass]="{'selected':router.url.includes('doctors')}">Our Doctors</p>
        </a>
        <a href="/Lotus-Hospitals/about">
            <p [ngClass]="{'selected':router.url.includes('about')}">About</p>
        </a>
        <a href="/Lotus-Hospitals/contactus">
            <p [ngClass]="{'selected':router.url.includes('contactus')}">Contact</p>
        </a>

        <img src="assets/icons/homepage/menu.svg" (click)="toggleModal()">
    </div>
</div>


<div class="menu" *ngIf="viewMenu">
    <div class="closemenu">
        <img alt="" src="assets/icons/homepage/closemenu.svg" (click)="toggleModal()">
    </div>
    <div class="column">
        <h4>Services</h4>
        <a href="/Lotus-Hospitals/paediatrics">
            <p class="captions">Paediatrics</p>
        </a>
        <a href="/Lotus-Hospitals/gynaecology">
            <p class="captions">Gynaecology</p>
        </a>
        <a href="/Lotus-Hospitals/fertility">
            <p class="captions">Fertility</p>
        </a>
        <a href="/Lotus-Hospitals/maternity">
            <p class="captions">Maternity</p>
        </a>
        <a href="/Lotus-Hospitals/neonatology">
            <p class="captions">Neonatology</p>
        </a>
    </div>
    <div class="column">
        <h4>Links</h4>
        <a href="/Lotus-Hospitals/packages">
            <p class="captions">Child Packages</p>
        </a>
        <a href="/Lotus-Hospitals/packages/women">
            <p class="captions">Mother Packages</p>
        </a>
        <a href="/Lotus-Hospitals/about">
            <p class="captions">About</p>
        </a>
        <a href="/Lotus-Hospitals/doctors">
            <p class="captions">Doctors</p>
        </a>
    </div>
    <div class="column">
        <h4>Links</h4>
        <a href="/Lotus-Hospitals/careers">
            <p class="captions">Careers</p>
        </a>
        <a href="/Lotus-Hospitals/corporates">
            <p class="captions">Corporates</p>
        </a>
        <a href="/Lotus-Hospitals/education">
            <p class="captions">Education</p>
        </a>
    </div>

</div>
