<div class="app-top-header">
    <p (click)="navigateTo('careers')" [ngClass]="{'selected':router.url.includes('careers')}">Careers</p>
    <p (click)="navigateTo('corporates')" [ngClass]="{'selected':router.url.includes('corporates')}">Corporates</p>
    <p (click)="navigateTo('education')" [ngClass]="{'selected':router.url.includes('education')}">Education</p>
</div>
<div class="app-bottom-header">
    <div class="abh-left">
        <img src="assets/icons/logo/logo.svg" (click)="navigateTo('')">
    </div>
    <div class="abh-right">
        <div class="dropdown">
            <p>Services</p>
            <div class="dropdown-content">
                <header (click)="navigateTo('paediatrics')">Paediatrics</header>
                <header (click)="navigateTo('gynaecology')">Gynaecology</header>
                <header (click)="navigateTo('fertility')">Fertility</header>
                <header (click)="navigateTo('maternity')">Maternity</header>
                <header (click)="navigateTo('neonatology')">Neonatology</header>
            </div>
        </div>
        <p (click)="navigateTo('branches')" [ngClass]="{'selected':router.url.includes('branches')}">Branches</p>
        <div class="dropdown">
            <p>Health Packages</p>
            <div class="dropdown-content">
                <header (click)="navigateTo('packages')">Pediatric Health Packages</header>
                <header (click)="navigateTo('packages/women')">Women’s Health Packages</header>
            </div>
        </div>
        <p (click)="navigateTo('doctors')" [ngClass]="{'selected':router.url.includes('doctors')}">Our Doctors</p>
        <p (click)="navigateTo('about')" [ngClass]="{'selected':router.url.includes('about')}">About</p>
        <!--        <p>Blog</p>-->
        <p (click)="navigateTo('contactus')" [ngClass]="{'selected':router.url.includes('contactus')}">Contact</p>

        <img src="assets/icons/homepage/menu.svg" (click)="toggleModal()">
    </div>
</div>


<div class="menu" *ngIf="viewMenu">
    <div class="closemenu">
        <img alt="" src="assets/icons/homepage/closemenu.svg" (click)="toggleModal()">
    </div>
    <div class="column">
        <h4>Services</h4>
        <p class="captions" (click)="navigateTo('paediatrics')">Paediatrics</p>
        <p class="captions" (click)="navigateTo('gynaecology')">Gynaecology</p>
        <p class="captions" (click)="navigateTo('fertility')">Fertility</p>
        <p class="captions" (click)="navigateTo('maternity')">Maternity</p>
        <p class="captions" (click)="navigateTo('neonatology')">Neonatology</p>
    </div>
    <div class="column">
        <h4>Links</h4>
        <p class="captions" (click)="navigateTo('packages')">Our Packages</p>
        <!--        <p class="captions">Blog</p>-->
        <p class="captions" (click)="navigateTo('about')">About</p>
        <p class="captions" (click)="navigateTo('doctors')">Doctors</p>
    </div>
    <div class="column">
        <h4>Links</h4>
        <p class="captions" (click)="navigateTo('careers')">Careers</p>
        <p class="captions" (click)="navigateTo('corporates')">Corporates</p>
        <p class="captions" (click)="navigateTo('education')">Education</p>
    </div>

</div>
