<div class="app-top-header">
    <header>Careers</header>
    <header (click)="navigateTo('corporates')" [ngClass]="{'selected':router.url.includes('corporates')}">Corporates</header>
    <header (click)="navigateTo('education')" [ngClass]="{'selected':router.url.includes('education')}">Education</header>
</div>
<div class="app-bottom-header">
    <div class="abh-left">
        <img src="assets/icons/logo/logo.svg" (click)="navigateTo('')">
    </div>
    <div class="abh-right">
        <header>Services</header>
        <header (click)="navigateTo('branches')" [ngClass]="{'selected':router.url.includes('branches')}">Branches</header>
        <header>Health Packages</header>
        <header (click)="navigateTo('doctors')" [ngClass]="{'selected':router.url.includes('doctors')}">Our Doctors</header>
        <header>About</header>
        <header>Blog</header>
        <header>Contact</header>

        <img src="assets/icons/homepage/menu.svg" (click)="toggleModal()">
    </div>

</div>


<div class="menu" *ngIf="viewMenu">
    <div class="closemenu">
        <img alt="" src="assets/icons/homepage/closemenu.svg" (click)="toggleModal()">
    </div>
    <div class="column">
        <h4>Services</h4>
        <p class="captions">Paediatrics</p>
        <p class="captions">Gynaecology</p>
        <p class="captions">Fertility</p>
        <p class="captions">Matertity</p>
        <p class="captions">Neonatology</p>
    </div>
    <div class="column">
        <h4>Links</h4>
        <p class="captions">Our Packages</p>
        <p class="captions">Blog</p>
        <p class="captions">About</p>
        <p class="captions" (click)="navigateTo('doctors')">Doctors</p>
    </div>
    <div class="column">
        <h4>Links</h4>
        <p class="captions">Careers</p>
        <p class="captions" (click)="navigateTo('corporates')">Corporates</p>
        <p class="captions" (click)="navigateTo('education')">Education</p>
    </div>

</div>
