@import "src/styles";

.page {
    .contact-us {
        background: $Blue-W;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 100px 0;
        padding-top: 120px;

        h1 {
            color: $LH-Blue;
            margin-bottom: 24px;
        }

        .emer {
            color: $LH-Peach;
            margin-bottom: 50px;

            span {
                color: black;
                font-weight: 400;
            }
        }

        .locations {
            display: flex;
            align-items: center;


            .location {
                display: flex;
                flex-direction: column;
                margin-right: 35px;

                h3 {
                    color: $LH-Blue;
                    font-weight: 400;
                }

                h4 {
                    font-weight: 500;
                    margin-bottom: 20px;
                }

                button {
                    background: $Blue-P;
                }
            }
        }
    }
}


@media only screen and (min-width: 1280px) {
    @import "contact-us.desktop";
}

@media only screen and (max-width: 1280px) and (min-width: 768px) {
    @import "contact-us.tablet";
}

@media only screen and (max-width: 767px) {
    @import "contact-us.mobile";
}
