@import "src/styles";

.page {
    .banner {
        background: url("../../../../assets/icons/packages/bg_womens_health.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.baby-packages {
    padding: 50px;

    .img-container {
        width: 200px;
    }
}

.faqs {
    .faq {
        width: 700px;

    }
}
