<app-header></app-header>

<div class="page">

    <div class="banner ped-banner">
        <h1>Pediatric Care at Lotus Hospitals</h1>
        <p>Dr. V.S.V. Prasad is the most sought-after pediatrician in the country and has a legacy of setting up hospitals that provide global
            standard medical care for children. Our team of pediatricians, specialists
            and caring staff provide the best of emergency, intensive and preventative care for children from birth through teenage.
        </p>

        <img class="child" alt="LotusHospitals" src="assets/icons/pediatrics/child.svg">
        <img class="table" alt="LotusHospitals" src="assets/icons/pediatrics/table.svg">
        <img class="toy-1" alt="LotusHospitals" src="assets/icons/pediatrics/toy-1.svg">
        <img class="toy-2" alt="LotusHospitals" src="assets/icons/pediatrics/toy-2.svg">
        <img class="love" alt="LotusHospitals" src="assets/icons/pediatrics/love.svg">
        <img class="letter-1" alt="LotusHospitals" src="assets/icons/pediatrics/letter-1.svg">
        <img class="letter-2" alt="LotusHospitals" src="assets/icons/pediatrics/letter-2.svg">
        <img class="set" alt="LotusHospitals" src="assets/icons/pediatrics/set.svg">
    </div>

    <div class="secondary-banner">
        <h4>We know that when it comes to the health of your child, there are no compromises. We are on the same page as
            you.</h4>
        <img src="assets/icons/services/nocompromise.svg">
    </div>


    <div class="services">
        <img class="img-desktop" src="assets/icons/pediatrics/bg_1.png">
        <div class="service-details">
            <h2>Pioneers in Emergency & Intensive Care</h2>
            <img class="img-mobile" src="assets/icons/pediatrics/bg_1.png">
            <p>We often take on challenging cases that are later deemed medical miracles. The Pediatric Intensive Care
                Unit has been accredited by the <span>Indian Academy of Pediatrics</span> — Intensive Care Chapter & the <span>Pediatric
                    Section of the Indian Society, New Delhi</span>.
            </p>
        </div>
    </div>

    <div class="service-list">
        <div class="column">
            <h4>General Healthcare Services</h4>
            <p> General Pediatrics</p>
            <p> Pediatric Neurology</p>
            <p> Pediatric Neuro Rehabilitation & Physiotherapy</p>
            <p> Pediatric Dentistry</p>
            <p> Pediatric Gastroenterology</p>
            <p> Pediatric Nutrition & Dietetics</p>
            <p> ENT Services</p>

        </div>
        <div class="column">
            <h4>Specialized Services & Minimally Invasive Surgery</h4>
            <p> Critical Care Services ( Neonatology, Pediatric Intensive Care & Emergency )</p>
            <p> Pediatric Surgery</p>
            <p> Pediatric Anesthesiology</p>
            <p> Emergency Orthopedic Surgery</p>
            <p> Neurology & Neurosurgery</p>
            <p> Pediatric Dental Surgery</p>

        </div>
        <div class="column">
            <h4 class="blank">&nbsp;</h4>
            <p class="blank">&nbsp;</p>
            <p> Pediatric Urology</p>
            <p> Pediatric ENT Surgery</p>
            <p> Pediatric GI Tract & Intestinal Surgery</p>
            <p> Plastic Surgery</p>
        </div>

    </div>

    <div class="packages">
        <div>
            <h2>Our Healthcare Packages for Children</h2>
            <img class="package-mobile" src="assets/icons/pediatrics/bg_2.png">
            <p>We have established global standards of Pediatric and Neonatal Intensive Care Units that help with prompt diagnosis, appropriate treatment
                and quick recovery of your child. Regularly undergoing General
                Health check-ups ensure a healthy and happy childhood.
            </p>
            <a href="#/packages">
                <button>
                    <span>View Packages</span>
                    <img src="assets/icons/services/arrow-right.svg">
                </button>
            </a>
        </div>
        <img class="package-desktop" src="assets/icons/pediatrics/bg_2.png">
    </div>



    <div class="consult-with-doctors">
        <h4>Consult with our doctors</h4>
        <button>Book Now</button>
    </div>
</div>

<app-footer></app-footer>
