<app-header></app-header>

<div class="global-services">

    <div class="banner">
        <div class="banner-left">
            <img src="assets/icons/services/paediatrics.svg">
        </div>
        <div class="banner-right">
            <h1>Pediatrics at Lotus</h1>
            <p>Our pediatricians, specialists and caring staff provide pediatric care including preventative check-ups, diagnostics,
                imaging and specialty clinics. We provide well and preventative care for children from birth to 18 years of age.</p>
        </div>
    </div>

    <div class="secondary-banner">
        <h4>We know that when it comes to the health of your child, there are no compromises. We are on the same page as you.</h4>
        <img src="assets/icons/services/nocompromise.svg">
    </div>

    <div class="services">
        <h2>Pediatric Services</h2>
        <div class="service-details">

            <img src="assets/icons/services/paediatric-service.png">
            <div class="right">
                <div class="column">
                    <p>• Neonatology Services </p>
                    <p>• General Pediatrics </p>
                    <p>• Critical Care Services </p>
                    <p>• Pediatric Surgery </p>
                    <p>• Pediatric Anaesthesiology </p>
                    <p>• Minimal Invasive Surgery </p>
                    <p>• Emergency Orthopedic Surgery </p>
                    <p>• Neurology & Neurosurgery </p>
                    <p>• Pediatric Ophthalmology</p>
                </div>
                <div class="column">
                    <p>• Pediatric Dental & Dental Surgery </p>
                    <p>• Pediatric ENT Surgery </p>
                    <p>• Pediatric Gastroenterology & Surgery on GI Tract & Intestines </p>
                    <p>• Pediatric Urology Surgery </p>
                    <p>• Plastic Surgery </p>
                    <p>• Pediatric Rehabilitation Services </p>
                    <p>• Pediatric Dietetics & Nutritional Services</p>
                </div>

            </div>
        </div>
    </div>


    <div class="packages">
        <h2>Our Healthcare Packages</h2>
        <div class="package-details">
            <div>
                <p>Our pediatricians, specialists and caring staff provide pediatric care including preventative check-ups, diagnostics, imaging and specialty clinics.
                    We provide well and preventative care for children from
                    birth to 18 years of age. Our pediatricians, specialists and caring staff provide pediatric care including preventative check-ups, diagnostics,
                    imaging and specialty clinics.</p>

                <button>View PAckages</button>
            </div>
            <img src="assets/icons/services/paediatric-service.png">
        </div>
    </div>


    <div class="consult-with-doctors">
        <h4>Consult with our doctors</h4>
        <button>Book Now</button>
    </div>
</div>

<app-footer></app-footer>
