<app-header></app-header>


<div class="homepage">

    <div class="banner">
        <h1>Health & Happiness</h1>
        <p>We are here for you at all hours. Your trusted healthcare partner. Your family doctor.</p>

        <div class="banner-img banner-img-left">
            <img class="" alt="Health & Happiness" src="assets/icons/homepage/banner-base-left.svg">
        </div>

        <div class="banner-img banner-img-right">
            <img class="" alt="Health & Happiness" src="assets/icons/homepage/banner-base-right.svg">
        </div>

        <img class="fam-left" alt="Health & Happiness" src="assets/icons/homepage/fam-left.svg">
        <img class="fam-right" alt="Health & Happiness" src="assets/icons/homepage/fam-right.svg">
        <img class="fam-top-sun" alt="Health & Happiness" src="assets/icons/homepage/fam-top-sun.svg">
        <img class="fam-top-love" alt="Health & Happiness" src="assets/icons/homepage/fam-top-love.svg">

    </div>

    <div class="awards-achievements">
        <div class="aa-left" *ngIf="isLeftAwardsDisplayed || isDesktop">
            <img alt="Awards" src="assets/icons/homepage/LHLaurels-01.svg">
            <img alt="Awards" src="assets/icons/homepage/LHLaurels-02.svg">
            <img alt="Awards" src="assets/icons/homepage/LHLaurels-03.svg">
        </div>
        <div class="aa-center">
            <h4>Awards & Achievements</h4>
        </div>
        <div class="aa-right" *ngIf="!isLeftAwardsDisplayed || isDesktop">
            <img alt="Awards" src="assets/icons/homepage/LHLaurels-04.svg">
            <img alt="Awards" src="assets/icons/homepage/LHLaurels-05.svg">
            <img alt="Awards" src="assets/icons/homepage/LHLaurels-06.svg">
        </div>
    </div>

    <div class="health-first">
        <section class="hf-1">
            <img alt="Health First" src="assets/icons/homepage/health-first.png">
            <div>
                <h2>Your Health First</h2>
                <p>The legacy of Lotus Hospitals is that of Dr. V.S.V. Prasad and one that precedes Lotus Hospitals itself. Having studied medicine and completed his residency in the US and UK, Dr. Prasad returned to
                    India to set up a paediatric care hospital of global standards. Providing quality care is paramount to us and came to realisation with the establishment of Lotus Hospitals in 2006. All our hospitals
                    are equipped with state-of-the-art equipment and technology to ensure world-class treatment for you and your little ones.
                </p>
            </div>
        </section>
        <section class="hf-2">
            <div>
                <h2>Your Family Doctor</h2>
                <p>Empathy being at the core of our values, we have always promised uncompromising attention from our doctors. We offer a wholesome value system for the best in children’s and maternity care in Hyderabad
                    and Visakhapatnam. We are here to provide quality care for all seeking any kind of medical attention concerning pediatrics, neonatology, gynecology, maternity and fertility. Your family planning
                    counsellors and your family’s comprehensive care provider.
                </p>
            </div>
            <img alt="Family Doctor" src="assets/icons/homepage/familydoctor.png">
        </section>
    </div>

    <div class="consult-with-doctors">
        <h4>Consult with our doctors</h4>
        <a href="/contactus">
            <button>Book Now</button>
        </a>
    </div>

    <div class="quality-care">
        <h2>Quality Care for All</h2>
        <div class="quality-care-areas">
            <section class="paediatrics">
                <a href="/paediatrics">
                    <img alt="Pediatrics" class="mainimage" src="assets/icons/homepage/paediatrics.svg">
                </a>
                <h4>Pediatrics</h4>
                <p class="caption">Pioneers in intensive care for children</p>
                <div class="brick">
                    <img alt="" src="assets/icons/homepage/brick.svg">
                </div>
            </section>

            <section class="fertility">

            </section>

            <section class="neonatology">
                <a href="/neonatology">
                    <img alt="Neonatology" class="mainimage" src="assets/icons/homepage/neonatology.svg">
                </a>
                <h4>Neonatology</h4>
                <p class="caption">Quick recovery & rehabilitation of your newborn</p>
                <div class="brick">
                    <img alt="" src="assets/icons/homepage/brick.svg">
                </div>
            </section>

            <section class="maternity">

            </section>

            <section class="gynaecology">
                <a href="/gynaecology">
                    <img alt="Gynecology" class="mainimage" src="assets/icons/homepage/gynaecology.svg">
                </a>
                <h4>Gynecology</h4>
                <p class="caption">Life comes a full circle at Lotus Hospitals</p>
                <div class="brick">
                    <img alt="" src="assets/icons/homepage/brick.svg">
                </div>
            </section>
        </div>
        <div class="quality-care-areas">
            <section class="paediatrics">

            </section>
            <section class="fertility">
                <img alt="" class="brick brick-desktop" src="assets/icons/homepage/brick.svg">
                <a href="/fertility">
                    <img alt="Fertility" class="mainimage" src="assets/icons/homepage/fertility.svg">
                </a>
                <h4>Fertility</h4>
                <div class="brick brick-mobile">
                    <img alt="" src="assets/icons/homepage/brick.svg">
                </div>
                <p class="caption">Baby steps towards having your baby</p>
            </section>
            <section class="neonatology">

            </section>

            <section class="maternity">
                <img alt="" class="brick brick-desktop" src="assets/icons/homepage/brick.svg">
                <a href="/maternity">
                    <img alt="Maternity" class="mainimage" src="assets/icons/homepage/maternity.svg">
                </a>
                <h4>Maternity</h4>
                <div class="brick brick-mobile">
                    <img alt="" src="assets/icons/homepage/brick.svg">
                </div>
                <p class="caption">There are options for everyone</p>
            </section>
            <section class="gynaecology">

            </section>

        </div>
        <img alt="Quality Care" class="bg" src="assets/icons/homepage/quality-care-bg.svg">
    </div>

    <div class="hospitals-nearby">
        <h2>Lotus Hospitals Near You</h2>
        <div class="hospitals">
            <a target="_blank" rel="noreferrer"
               href="https://www.google.com/maps/place/Lotus+Hospitals+For+Women+%26+Children/@17.404107,78.461124,15z/data=!4m5!3m4!1s0x0:0xde9d3a704411d69b!8m2!3d17.4041067!4d78.4611235?hl=en&shorturl=1')">
                <img alt="Lakdikapul" src="assets/icons/branches/Lakdikapul.png">
                <h3>Lakdikapul</h3>
            </a>
            <a target="_blank" rel="noreferrer"
               href="https://www.google.com/maps/place/Lotus+Hospitals+For+Women+%26+Children/@17.490997,78.393075,15z/data=!4m5!3m4!1s0x0:0xcde3943dafdc0bc0!8m2!3d17.490997!4d78.393075?hl=en')">
                <img alt="Kukatpally" src="assets/icons/branches/Kukkatpally.png">
                <h3>Kukatpally</h3>
            </a>
            <a target="_blank" rel="noreferrer"
               href="https://www.google.com/maps/place/Lotus+Hospitals+For+Women+%26+Children/@17.351729,78.554743,15z/data=!4m5!3m4!1s0x0:0x5ab87609a28b6ebd!8m2!3d17.3517291!4d78.5547431?hl=en')">
                <img alt="L B Nagar" src="assets/icons/branches/LBNagar.png">
                <h3>L B Nagar</h3>
            </a>
            <a target="_blank" rel="noreferrer"
               href="https://www.google.com/maps/place/Lotus+Hospitals+For+Women+And+Children/@17.721374,83.314876,15z/data=!4m5!3m4!1s0x0:0x6d70dff7e7320b30!8m2!3d17.7213739!4d83.3148756?hl=en')">
                <img alt="Visakhapatnam" src="assets/icons/branches/Vishakapatnam.png">
                <h3>Visakhapatnam</h3>
            </a>
        </div>
    </div>

    <div class="more-about-us">
        <h2>More About Us</h2>
        <div class="main-blog">
            <div class="blog-img">

            </div>
            <div class="blog-content">
                <h3>Everything you should know about Nipah Virus</h3>
                <div class="events">
                    <div class="event">
                        <img alt="Calendar" src="assets/icons/homepage/calendar.svg">
                        <p class="caption">25 July 2020</p>
                    </div>
                    <div class="event">
                        <img alt="Folder" src="assets/icons/homepage/folder.svg">
                        <p class="caption">News & Events</p>
                    </div>
                </div>
                <p>Kerala is on high alert these days due to mysterious deaths caused by an unidentified viral attack.
                    Out of these, three have been confirmed as having been caused by Nipah Virus (NiV).
                    The virus has no vaccine for animals or humans as of now, and is yet to be understood by many.
                </p>
            </div>
        </div>
        <div class="additional-blogs">
            <div class="blog">
                <div class="blog-img">

                </div>
                <h4>Tennis Player Sania Mirza Launched Lotus Women and...</h4>
            </div>
            <div class="blog">
                <div class="blog-img">

                </div>
                <h4>Arogya Badhratha Scheme (ABS) ...</h4>
            </div>
            <div class="blog">
                <div class="blog-img">

                </div>
                <h4>3 Healthy Ways to Make Summer Comfortable for Your Baby...</h4>
            </div>
        </div>
    </div>

    <div class="testimonials">
        <h2>Testimonials</h2>
        <img class="back-icon" alt="Back" src="assets/icons/homepage/back.svg" (click)="plusSlides(-1)">
        <img class="forward-icon" alt="Forward" src="assets/icons/homepage/forward.svg" (click)="plusSlides(1)">

        <!-- Slideshow container -->
        <div class="slideshow-container">

            <!-- Full-width images with number and caption text -->
            <div class="mySlides fade">
                <div class="testimonial">
                    <p class="quotes">I admitted my child for septic shock and was in a very grief state.Nursing care was amazing.
                        Consultants are very qualified and are so kind to explain every small detail of my
                        doubts.I am highly thankful for Lotus Hospitals.</p>
                    <h4>Rayees Ahmed</h4>
                </div>
            </div>

            <div class="mySlides fade">
                <div class="testimonial">
                    <p class="quotes">It was really wonderful and amazing experience....The service especially nursing staff are doing amazing job,with passion and love and affection....
                        I feel god has really blessed this hospital...keep it up...good team work....</p>
                    <h4>Arush Shravan Reddy</h4>
                </div>
            </div>

            <div class="mySlides fade">
                <div class="testimonial">
                    <p class="quotes">One of the best team of doctors and advanced
                        speciality treatment.Would definitely suggest for round the clock and emergency service.</p>
                    <h4>K. Rajesh Babu</h4>
                </div>
            </div>

            <div class="mySlides fade">
                <div class="testimonial">
                    <p class="quotes">Good hospital for babycare.Facilities are upscale.Be fully aware of
                        the doctors who will treat your kid.</p>
                    <h4>Farheen Fatima</h4>
                </div>
            </div>

            <div class="mySlides fade">
                <div class="testimonial">
                    <p class="quotes">Great experience from this hospital,very helpful pediatric doctors and staff.
                        Their patience and dedication helped my son recover quickly without any complications.</p>
                    <h4>Kalyan & Riya Korimalya</h4>
                </div>
            </div>
        </div>
    </div>

</div>

<app-footer></app-footer>
