<app-header></app-header>


<div class="homepage">

    <div class="banner">
        <h1>Health & Happiness</h1>
        <p>We are here for you at all hours. Your trusted healthcare partner. Your family doctor.</p>
        <img alt="" src="assets/icons/homepage/banner.png">
    </div>


    <div class="awards-achievements">
        <div class="aa-left">
            <img src="assets/icons/homepage/awards.svg" *ngFor="let i of [1,2,3]">
        </div>
        <div class="aa-center">
            <h4>Awards & Achievements</h4>
        </div>
        <div class="aa-right">
            <img src="assets/icons/homepage/awards.svg" *ngFor="let i of [1,2,3]">
        </div>
    </div>

    <div class="health-first">
        <section class="hf-1">
            <img src="assets/icons/homepage/health-first.png">
            <div>
                <h2>Your Health First</h2>
                <p>The legacy of Lotus Hospitals is that of Dr. VSV Prasad and one that precedes Lotus Hospitals itself.
                    Having studied medicine and completed his residency in the US and UK in _____ , Dr. Prasad returned
                    to India to set up a paediatric care hospital of global standards. Providing quality care is paramount to us.
                    All our hospitals are equipped with state-of-the-art equipment and technology to ensure
                    the best treatment for you and your little ones.
                </p>
            </div>
        </section>
        <section class="hf-2">
            <div>
                <h2>Your Family Doctor</h2>
                <p>Empathy being at the core of our values, we have always promised uncompromising attention from our doctors.
                    Offering a wholesome value system to help reinstate the trust in medical professionals and their Hippocratic oath.
                    We are here to provide quality care for all seeking any kind of medical attention
                </p>
            </div>
            <img src="assets/icons/homepage/health-first.png">
        </section>
    </div>

    <div class="consult-with-doctors">
        <h4>Consult with our doctors</h4>
        <button>Book Now</button>
    </div>

    <div class="quality-care">
        <h2>Quality Care for All</h2>
        <div class="quality-care-areas">
            <section class="paediatrics">
                <img src="assets/icons/homepage/paediatrics.svg">
                <h4>Paediatrics</h4>
                <p class="caption">We are here for you at all hours. Your trusted healthcare partner. </p>
                <div class="brick">
                    <img src="assets/icons/homepage/brick.svg">
                </div>
            </section>
            <section class="fertility">
                <img class="brick brick-desktop" src="assets/icons/homepage/brick.svg">
                <img src="assets/icons/homepage/fertility.svg">
                <h4>Fertility</h4>
                <div class="brick brick-mobile">
                    <img src="assets/icons/homepage/brick.svg">
                </div>
                <p class="caption">We are here for you at all hours. Your trusted healthcare partner. </p>
            </section>
            <section class="neonatology">
                <img src="assets/icons/homepage/neonatology.svg">
                <h4>Neonatology</h4>
                <p class="caption">We are here for you at all hours. Your trusted healthcare partner. </p>
                <div class="brick">
                    <img src="assets/icons/homepage/brick.svg">
                </div>
            </section>
            <section class="maternity">
                <img class="brick brick-desktop" src="assets/icons/homepage/brick.svg">
                <img src="assets/icons/homepage/maternity.svg">
                <h4>Maternity</h4>
                <div class="brick brick-mobile">
                    <img src="assets/icons/homepage/brick.svg">
                </div>
                <p class="caption">We are here for you at all hours. Your trusted healthcare partner. </p>
            </section>
            <section class="gynaecology">
                <img src="assets/icons/homepage/gynaecology.svg">
                <h4>Gynaecology</h4>
                <p class="caption">We are here for you at all hours. Your trusted healthcare partner. </p>
                <div class="brick">
                    <img src="assets/icons/homepage/brick.svg">
                </div>
            </section>


        </div>
        <img class="bg" src="assets/icons/homepage/quality-care-bg.svg">
    </div>

    <div class="hospitals-nearby">
        <h2>Lotus Hospitals Near You</h2>
        <div class="hospitals">
            <img src="assets/icons/homepage/nearby-hospital.svg">
            <img src="assets/icons/homepage/nearby-hospital.svg">
            <img src="assets/icons/homepage/nearby-hospital.svg">
            <img src="assets/icons/homepage/nearby-hospital.svg">
            <img src="assets/icons/homepage/nearby-hospital.svg">
        </div>
    </div>

    <div class="more-about-us">
        <h2>More About Us</h2>
        <div class="main-blog">
            <div class="blog-img">

            </div>
            <div class="blog-content">
                <h3>Everything you should know about Nipah Virus</h3>
                <div class="events">
                    <div class="event">
                        <img src="assets/icons/homepage/calendar.svg">
                        <p class="caption">25 July 2020</p>
                    </div>
                    <div class="event">
                        <img src="assets/icons/homepage/folder.svg">
                        <p class="caption">News & Events</p>
                    </div>
                </div>
                <p>Kerala is on high alert these days due to mysterious deaths caused by an unidentified viral attack.
                    Out of these, three have been confirmed as having been caused by Nipah Virus (NiV).
                    The virus has no vaccine for animals or humans as of now, and is yet to be understood by many.
                </p>
            </div>
        </div>
        <div class="additional-blogs">
            <div class="blog">
                <div class="blog-img">

                </div>
                <h4>Tennis Player Sania Mirza Launched Lotus Women and...</h4>
            </div>
            <div class="blog">
                <div class="blog-img">

                </div>
                <h4>Arogya Badhratha Scheme (ABS) ...</h4>
            </div>
            <div class="blog">
                <div class="blog-img">

                </div>
                <h4>3 Healthy Ways to Make Summer Comfortable for Your Baby...</h4>
            </div>
        </div>
    </div>

    <div class="testimonials">
        <h2>Testimonials</h2>
        <img class="back-icon" src="assets/icons/homepage/back.svg">
        <div class="testimonial">
            <p class="quotes">Great experience from this hospital, very helpful pediatric doctors and staff. Their patience and
                dedication helped my son recover quickly without any complications.</p>
            <h4>Rayees Ahmed</h4>
        </div>
        <img class="forward-icon" src="assets/icons/homepage/forward.svg">
    </div>

</div>

<app-footer></app-footer>
