.branch-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;

    .branch {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.5em;
        width: 100%;

        img {
            width: 100%;
            margin-bottom: 1em;
        }

        h3 {

        }

        h4 {
            margin-bottom: 1em;
        }

        p {

        }
    }
}
