.page {
    .banner {
        background: url("../../../assets/icons/branches/bg_branches.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.branch-list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    background: white;
    flex-wrap: wrap;

    .branch {
        display: flex;
        flex-direction: column;
        margin: 15px 25px;
        width: 40%;

        img {
            width: 100%;
            margin-bottom: 15px;
        }

        h3 {

        }

        p {

        }
    }
}
