@import "src/styles";


.page {
    .banner {
        background: url("../../../assets/icons/branches/bg_branches.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.branch-list {
    display: flex;
    justify-content: center;
    padding: 80px 108px;
    background: white;

    .branch {
        display: flex;
        flex-direction: column;
        margin: 0 30px;
        width: 25%;

        img {
            width: 100%;
            margin-bottom: 20px;
            border-radius: 16px;
        }

        h3 {
            color: $LH-Blue;
        }

        h4 {
            margin-top: 16px;
            margin-bottom: 16px;
        }

        p {
            color: $LH-Blue;
        }
    }
}
