<app-header></app-header>

<div class="page">

    <div class="contact-us">
        <h1>Contact Us</h1>
        <h4 class="emer">Emergency Number: <span>9989724365</span></h4>
        <div class="locations">
            <div class="location">
                <h3>Lakdikapul</h3>
                <h4>+91-040 4040 4444</h4>
                <button>Location</button>
            </div>
            <div class="location">
                <h3>Kukatpally</h3>
                <h4>+91-040 4040 4444</h4>
                <button>Location</button>
            </div>
            <div class="location">
                <h3>L B Nagar</h3>
                <h4>+91-040 4040 4444</h4>
                <button>Location</button>
            </div>
            <div class="location">
                <h3>Vishakapatnam</h3>
                <h4>+91-040 4040 4444</h4>
                <button>Location</button>
            </div>
        </div>
    </div>



</div>

<app-footer></app-footer>
