<app-header></app-header>

<div class="page">

    <div class="contact-us">
        <h1>Contact Us</h1>
        <h4 class="emer">For Booking Appointments : <span>040 - 4040 4455</span></h4>
        <div class="locations">
            <div class="location">
                <h3>Lakdikapul</h3>
                <h4>Tel : 040 4040 (4444) / (4400)</h4>
                <p>D. No. 6 - 2 - 29,</p>
                <p> Lakdi ka Pul Road,</p>
                <p> P&T Officers Colony,</p>
                <p> Next to Downtown Mall,</p>
                <p> Hyderabad,</p>
                <p> Telangana - 500 004.</p>
                <p> frontoffice@lotushospitals.in</p>
                <button (click)="viewOnMap('https://www.google.com/maps/place/Lotus+Hospitals+For+Women+%26+Children/@17.404107,78.461124,15z/data=!4m5!3m4!1s0x0:0xde9d3a704411d69b!8m2!3d17.4041067!4d78.4611235?hl=en&shorturl=1')">
                    <span>Location</span>
                    <img src="assets/icons/contact/location.svg">
                </button>
            </div>
            <div class="location">
                <h3>Kukatpally</h3>
                <h4> Tel : 040 4040 (6666) / (6688) / (6699)</h4>
                <p> HIG No. 15,</p>
                <p>JNTU, HITEC City Road,</p>
                <p>KPHB, Kukatpally,</p>
                <p>Next to Manjeera Mall,</p>
                <p>Hyderabad,</p>
                <p> Telangana - 500 071.</p>
                <p> frontoffice.kp@lotushospitals.in</p>

                <button (click)="viewOnMap('https://www.google.com/maps/place/Lotus+Hospitals+For+Women+%26+Children/@17.490997,78.393075,15z/data=!4m5!3m4!1s0x0:0xcde3943dafdc0bc0!8m2!3d17.490997!4d78.393075?hl=en')">
                    <span>Location</span>
                    <img src="assets/icons/contact/location.svg">
                </button>
            </div>
            <div class="location">
                <h3>L B Nagar</h3>
                <h4>Tel : 040 4040 2222</h4>
                <p> # 3-11-140,
                <p> Ahalya Arcade,</p>
                <p> RTC Colony,</p>
                <p> Opposite Kamineni Hospital,</p>
                <p> L.B. Nagar,</p>
                <p> Hyderabad,</p>
                <p> Telangana - 500 068.</p>
                <p> frontoffice.lbnagar@lotushospitals.in </p>

                <button (click)="viewOnMap('https://www.google.com/maps/place/Lotus+Hospitals+For+Women+%26+Children/@17.351729,78.554743,15z/data=!4m5!3m4!1s0x0:0x5ab87609a28b6ebd!8m2!3d17.3517291!4d78.5547431?hl=en')">
                    <span>Location</span>
                    <img src="assets/icons/contact/location.svg">
                </button>
            </div>
            <div class="location">
                <h3>Vishakapatnam</h3>
                <h4>Tel : 0891 6656 6666</h4>
                <p> 10 - 59 - 9,</p>
                <p> Opposite Waltair Club,</p>
                <p> Behind Gothi Sons,</p>
                <p> Siripuram,</p>
                <p> Visakhapatnam,</p>
                <p> Andhra Pradesh - 530 003.</p>
                <p> frontoffice.vizag@lotushospitals.in</p>

                <button (click)="viewOnMap('https://www.google.com/maps/place/Lotus+Hospitals+For+Women+And+Children/@17.721374,83.314876,15z/data=!4m5!3m4!1s0x0:0x6d70dff7e7320b30!8m2!3d17.7213739!4d83.3148756?hl=en')">
                    <span>Location</span>
                    <img src="assets/icons/contact/location.svg">
                </button>
            </div>
        </div>
    </div>


</div>

<app-footer></app-footer>
