<app-header></app-header>

<div class="page">

    <div class="banner">
        <h1>Quality Care for All</h1>
        <p>The legacy of Lotus Hospitals is that of Dr. V.S.V. Prasad and one that precedes Lotus Hospitals itself. Having studied medicine and completed his residency in All India Institute of Medical Sciences
            (A.I.I.M.S) in 1991, Dr. Prasad further specialised in the US and UK to acquire his Fellowship in Pediatric Critical Care & Neonatology. After 7 years of training he then returned to India to set up a
            pediatric care hospital of global standards. He helped set up and founded a few children’s hospitals in Hyderabad before setting up Lotus Hospitals in 2006 with the mission to provide quality healthcare that
            was accessible to all.
        </p>
    </div>


    <div class="established">
        <div class="left">
            <h2>Established Hospital & Your Family Doctor</h2>

            <div class="right-img img-mobile">
                <img alt="Established Hospital & Your Family Doctor" src="assets/icons/about/care.svg">
            </div>

            <p>Dr. V.S.V. Prasad has built Lotus Hospitals as an institution that is forever growing in its
                infrastructure, knowledge and services. After having established Lotus Hospitals as a leading centre for
                Pediatric Services in Hyderabad, he then grew it to accommodate the medical needs of a small family unit
                by adding obstetrics and fertility to its services at Lotus Hospitals in Lakdi ka Pul, Kukatpally and
                L.B. Nagar.</p>

            <p>With the intention of providing quality care for all, he has furthered Lotus Hospitals’ reach to
                Visakhapatnam by establishing an equally well equipped hospital with world class facilities.</p>

            <p> Lotus Hospitals has been recognised by the <span>National Accreditation Board of Healthcare Organisations </span>,
                Government of India (N.A.B.H.) for following all the safety and hygiene protocols laid down by them. The
                Neonatal Intensive Care Units (N.I.C.U.) have been constructed with corridors that are lined with large
                glass walls. This allows for parents to interact with the doctors and see their child without entering
                the highly sterile environment of the N.I.C.U., a unique infrastructure feature that was introduced in
                India by Lotus Hospitals.
            </p>
        </div>
        <div class="right">
            <div class="right-img img-desktop">
                <img alt="Established Hospital & Your Family Doctor" src="assets/icons/about/care.svg">
            </div>
            <p>The Pediatric Intensive Care Unit has been accredited by the <span>Indian Academy of Pediatrics</span> — Intensive
                Care Chapter & the <span>Pediatric Section of the Indian Society</span>, New Delhi. This is owing to the challenging
                cases that we take on of tertiary level care and above when it comes to emergency and intensive
                pediatric care.</p>

            <p> With four centres across the city of Hyderabad and the first centre in Visakhapatnam, Lotus Hospitals is
                ever-growing so that we remain a hospital that offers a wholesome value system that is accessible to
                all.
            </p>

        </div>
    </div>

    <div class="timeline">
        <h2>Journey of Lotus Hospitals</h2>
        <img alt="Timeline" class="timeline-desktop" src="assets/icons/about/timeline.svg">
        <img alt="Timeline" class="timeline-mobile" src="assets/icons/about/timeline_mobile.svg">
    </div>


    <div class="promise-of-care">
        <h2>Promise of Care</h2>
        <p>Empathy being at the core of our values, we have always provided uncompromising quality when it came to infrastructure, technology and our service providers.
            Offering a wholesome value system to help reinstate the trust in medical professionals and their Hippocratic oath.</p>
    </div>


    <div class="consult-with-doctors">
        <h4>Consult with our doctors</h4>
        <a href="/contactus">
            <button>Book Now</button>
        </a>
    </div>
</div>

<app-footer></app-footer>
