<app-header></app-header>

<div class="about">

    <div class="banner">
        <h1>Quality Care for All</h1>
        <p>The legacy of Lotus Hospitals is that of Dr. V.S.V. Prasad and one that precedes Lotus Hospitals itself.
            Having studied medicine and completed his residency in All India Institute of Medical Sciences (A.I.I.M.S)
            in 1991, Dr. Prasad further specialised in the US and UK to acquire his Fellowship in Pediatric Critical Care
            & Neonatology. After 7 years of training he then returned to India to set up a pediatric care hospital of
            global standards. He helped set up and founded a few children’s hospitals in Hyderabad before setting up Lotus
            Hospitals in 2006 with the mission to provide quality healthcare that was accessible to all.</p>
    </div>




    <div class="consult-with-doctors">
        <h4>Consult with our doctors</h4>
        <button>Book Now</button>
    </div>
</div>

<app-footer></app-footer>
