@import "src/styles";

.page {

    .banner {
        background: url("../../../assets/icons/education/bg_education.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.for-doctors {
    background: white;
    padding: 80px 108px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: auto;

    h2 {
        color: $LH-Peach;
        margin-bottom: 30px;
        margin-top: 60px;
    }

    h3 {
        margin-bottom: 30px;
    }

    p {
        margin-bottom: 30px;

        span {
            font-weight: bold;
        }
    }

    .p-section {
        margin-top: 1.5em;
    }
}
