@import "src/styles";

.page {
    .banner {
        background: url("../../../assets/icons/education/bg_education.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.for-doctors {
    background: white;
    padding: 80px 108px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;

    h2 {
        color: $LH-Peach;
    }

    p {
        margin-bottom: 1.5em;
    }

}
