@import "src/styles";


    .for-doctors {
        background: white;
        padding: 25px 25px;
        display: flex;
        flex-direction: column;

        h2 {
            color: $LH-Peach;
            text-align: center;
        }

        h3 {
            line-height: 1.5em;
        }

        p {
            margin-bottom: 25px;
        }

        .p-section {
            margin-top: 1.5em;
        }
    }
