@import "src/styles";

.for-doctors {
    background: white;
    padding: 80px 108px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;

    h2 {
        color: $LH-Peach;
    }

    p {
        margin-bottom: 1.5em;
    }

}
