@import "src/styles";

.careers {
    display: flex;
    flex-direction: column;

    .banner {
        display: flex;
        justify-content: center;
        min-height: calc(100vh - 48px - 80px - 128px - 128px);
        background: $Blue-W;
        padding: 128px;

        .banner-left {
            margin-right: 128px;
            background: white;
            padding: 60px 80px;
            padding-top: 20px;
            display: flex;
            flex-direction: column;
            border-radius: 20px;
            min-width: 332px;

            .input-group {
                display: flex;
                padding: 15px 20px;
                background: $Blue-W;
                border-radius: 16px;
                margin-bottom: 15px;

                input {
                    background: transparent;
                    border: none;
                    margin-left: 15px;
                }

                input:focus {
                    border: none;
                    outline: none;
                }

                input::placeholder {
                    color: $Blue-B;
                }
            }

            .applying-for {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 15px;

                button {
                    border-radius: 16px;
                    background: $Light-Peach;
                    color: $LH-Blue;
                }
            }

            .button-container {
                display: flex;
                justify-content: center;
                margin-top: 39px;

                button {
                    color: $Blue-W;
                    width: 184px;
                }
            }


        }

        .banner-right {
            h1, p {
                width: 495px;
                padding-left: 108px;
            }

            h1 {
                margin: 0;
                margin-bottom: 35px;
                color: $LH-Blue;
            }

            p {
                color: $LH-Black;
                margin-bottom: 25px;
            }
        }


    }

    .consult-with-doctors {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 128px;
        background: $Light-Peach;

        h4 {
            margin-right: 70px;
            color: $LH-Blue;
        }
    }
}
