@import "src/styles";

.careers {
    display: flex;
    flex-direction: column;

    .banner {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        min-height: calc(100vh - 48px - 80px - 128px - 128px);
        background: $Blue-W;

        .banner-left {
            display: flex;
            flex-direction: column;
            align-items: center;
            background: white;
            padding: 25px;

            .input-group {
                display: flex;
                padding: 15px 20px;
                background: $Blue-W;
                border-radius: 16px;
                margin-bottom: 15px;
                width: calc(100% - 40px);

                input {
                    background: transparent;
                    border: none;
                    margin-left: 15px;
                }

                input:focus {
                    border: none;
                    outline: none;
                }

                input::placeholder {
                    color: $Blue-B;
                }
            }

            .applying-for {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 15px;
                width: 100%;

                button {
                    border-radius: 16px;
                    background: $Light-Peach;
                    color: $LH-Blue;
                    font-size: 16px;
                }
            }

            .button-container {
                display: flex;
                justify-content: center;
                margin-top: 39px;

                button {
                    color: $Blue-W;
                    width: 184px;
                }
            }
        }

        .banner-right {
            padding: 25px;

            h1, p, h3 {
                text-align: center;
            }

            h3 {
                line-height: 32px;
                margin-bottom: 24px;
            }

            h1 {
                color: $LH-Blue;
                margin-bottom: 1em;
                margin-top: 20px;
            }

            p {
                color: $LH-Black;
                margin-bottom: 25px;
            }

            .pos {
                margin-bottom: 5px;
            }
        }


    }

    .consult-with-doctors {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        background: $Light-Peach;
        padding: 0 25px;

        p {
            text-align: center;
        }
    }
}
