<app-header></app-header>

<div class="page">

    <div class="banner">
        <h1>Neonatology at Lotus Hospitals</h1>
        <p>We know how critical it is to take care of your newborn. So when they need a little more love and attention, you can rely on us to provide the
            utmost care for their early recovery. Our expert neonatal care
            providers ensure their healthy and speedy stabilisation so that you can go home with them as soon as possible.
        </p>

        <img class="father" alt="" src="assets/icons/neonatology/father.svg">
        <img class="babyhand" alt="" src="assets/icons/neonatology/babyhand.svg">
        <img class="bird-1" alt="" src="assets/icons/neonatology/bird-1.svg">
        <img class="table" alt="" src="assets/icons/neonatology/table.svg">
        <img class="floor" alt="" src="../../assets/icons/neonatology/floor.svg">
        <img class="bird-2" alt="" src="../../assets/icons/neonatology/bird-2.svg">
        <img class="bird-3" alt="" src="assets/icons/neonatology/bird-3.svg">
        <img class="clouds" alt="" src="assets/icons/neonatology/clouds.svg">
        <img class="set" alt="" src="assets/icons/neonatology/set.svg">
    </div>

    <div class="secondary-banner">
        <h4>We take very good care of your newborn so that they still feel the warmth of their mother while being
            nursed back to health.
        </h4>
        <img src="assets/icons/services/nocompromise.svg">
    </div>


    <div class="services">
        <img class="img-desktop" src="assets/icons/services/paediatric-service.png">
        <div class="service-details">
            <h2>Early Recovery & Rehabilitation of Your Newborn</h2>
            <img class="img-mobile" src="assets/icons/services/paediatric-service.png">
            <p>Having successfully restored the health of many premature newborns, some even born with an exceptionally low body weight of 1.1 pounds, we have come to be known for our Neonatal Intensive Care Unit (NICU).
                The NICU at Lotus Hospitals being one of the biggest in the world, is fully equipped with global standard healthcare monitors and all ancillary support equipment.
            </p>
        </div>
    </div>

    <div class="service-list">
        <div class="column">
            <h4>General Healthcare Services</h4>
            <p>General Neonatology</p>
            <p> NICU for Very Low Birth Weight infants</p>
            <p> NICU for Extremely Low Birth Weight infants</p>
            <p> Life Support Systems</p>
            <p>Cardiovascular and Hemodynamic Support Systems</p>
            <p>Incubators</p>
            <p>Open Infant Care Warmers</p>
            <p> Phototherapy Systems</p>
            <p> Neonatal Follow Up & Development Screening</p>
            <p> Newborn Metabolic Screening</p>
        </div>
        <div class="column">
            <h4>Specialized Services & Minimally Invasive Surgery</h4>
            <p> Critical Care Services</p>
            <p> Nasogastric & Nasojejunal Feeding</p>
            <p> Surgery for Congenital Malformations of Brain & Spine</p>
            <p> Surgery for Renal & Urogenital Disorders</p>
            <p> Hepatobiliary Surgery</p>

        </div>
        <div class="column">
            <h4 class="blank">&nbsp;</h4>
            <p class="blank">&nbsp;</p>
            <p> Pulmonary Surgery</p>
            <p> Orthopedic Surgery</p>
            <p> Burns, Plastic & Reconstructive Surgery</p>
            <p> Emergency Surgery for Trauma</p>
        </div>

    </div>


    <div class="packages">
        <div>
            <h2>Our Healthcare Packages for Newborns</h2>
            <img class="package-mobile" src="assets/icons/services/paediatric-service.png">
            <p>Our pediatricians, specialists and caring staff provide pediatric care including preventative
                check-ups, diagnostics, imaging and specialty clinics.
                We provide well and preventative care for children from
                birth to 18 years of age. Our pediatricians, specialists and caring staff provide pediatric care
                including preventative check-ups, diagnostics,
                imaging and specialty clinics.</p>
            <button>View Packages</button>
        </div>
        <img class="package-desktop" src="assets/icons/services/paediatric-service.png">
    </div>


    <div class="consult-with-doctors">
        <h4>Consult with our doctors</h4>
        <button>Book Now</button>
    </div>
</div>

<app-footer></app-footer>
