@import "src/styles";

@keyframes squeezeLeft {
    0% {
        transform: translateX(-40%);
    }
    100% {
        transform: translateX(-16%);
    }
}

@keyframes squeezeRight {
    0% {
        transform: translateX(40%);
    }
    100% {
        transform: translateX(20%);
    }
}

@keyframes slideInFromLeft {
    0% {
        left: 8%;
    }
    100% {
        left: 18%;
    }
}

@keyframes slideInFromRight {
    0% {
        right: 8%;
    }
    100% {
        right: 18%;
    }
}

@keyframes slideInFromBottom {
    0% {
        bottom: -5%;
    }
    100% {
        bottom: 0;
    }
}

@keyframes slideInFromBottomLove {
    0% {
        bottom: 16%;
    }
    100% {
        bottom: 22%;
    }
}


.homepage {
    flex-direction: column;
    background: $Blue-W;

    .banner {
        flex-direction: column;
        align-items: center;
        height: calc(100vh - 48px - 80px);
        min-height: 700px;

        h1 {
            margin-top: 100px;
        }

        p {
            width: 400px;
            text-align: center;
            font-size: 20px;
        }

        .banner-img {
            width: 100%;
            bottom: 0;
            position: absolute;
            overflow-x: hidden;

            justify-content: center;
            z-index: 1;
            height: 65vh;

            img {
                width: 110%;
                bottom: 0;
                position: absolute;
            }
        }

        .banner-img-left {
            justify-content: flex-start;

            img {
                animation: 1.4s ease-out 0s 1 squeezeLeft;
                transform: translateX(-16%);

            }
        }

        .banner-img-right {
            justify-content: flex-end;

            img {
                animation: 1.4s ease-out 0s 1 squeezeRight;
                transform: translateX(20%);

            }
        }

        .fam-left {
            position: absolute;
            bottom: 7%;
            left: 18%;
            animation: 1.4s ease-out 0s 1 slideInFromLeft;
            z-index: 2;
            height: 175px;
        }

        .fam-right {
            position: absolute;
            bottom: 7%;
            right: 18%;
            animation: 1.4s ease-out 0s 1 slideInFromRight;
            z-index: 2;
            height: 175px;
        }

        .fam-top-sun {
            position: absolute;
            bottom: 0;
            animation: 1.6s ease-out 0s 1 slideInFromBottom;
            z-index: 0;
            height: 275px;
        }

        .fam-top-love {
            position: absolute;
            bottom: 22%;
            animation: 1.6s ease-out 0s 1 slideInFromBottomLove;
            z-index: 3;
            height: 44px;
        }
    }

    .awards-achievements {

        align-items: center;
        justify-content: space-between;
        height: 144px;
        padding: 0 50px;

        .aa-left, .aa-right, .aa-center {

            align-items: center;
            justify-content: space-around;
            width: 33%;
        }

        .aa-center {
            width: 166px;
            text-align: center;
        }

    }

    .health-first {
        flex-direction: column;
        padding: 50px;
        background: white;

        section {
            justify-content: center;
            margin-bottom: 50px;

            img {
                border-radius: 20px;
                height: 200px;
            }

            div {
                flex-direction: column;

                h2 {
                    margin-top: 0;
                }

                p {

                }
            }
        }

        .hf-1 {
            img {
                margin-right: 25px;
                width: 340px;
                height: 200px;
            }
        }

        .hf-2 {
            margin-bottom: 0;

            img {
                margin-left: 25px;
                width: 340px;
                height: 200px;
            }
        }
    }

    .consult-with-doctors {

        justify-content: center;
        align-items: center;
        height: 128px;

        h4 {
            margin-right: 70px;
        }
    }

    .quality-care {
        min-height: 65vh;

        flex-direction: column;
        position: relative;

        h2 {
            text-align: center;
            width: 100%;
            margin-top: 25px;
            margin-bottom: 30px;
            font-family: 'SharpGrotesk', sans-serif;
            font-weight: 400;
        }

        .bg {
            width: 100%;
            position: absolute;
            bottom: 0;
        }

        .quality-care-areas {

            padding: 0 25px;
            padding-bottom: 25px;

            section {

                flex-direction: column;
                align-items: center;
                width: 20%;
                text-align: center;
                margin: 0 10px;

                h4 {
                    margin: 0;
                }

                p {
                    margin-bottom: 20px;
                }


                .mainimage {
                    width: 75%;
                    transition: 0.4s;
                    cursor: pointer;
                }

                .brick {
                    width: unset;
                    margin-bottom: 30px;

                    img {
                        width: unset;
                    }
                }

                .brick-mobile {
                    display: none;
                }
            }
        }

        .quality-care-areas:last-of-type {
            justify-content: center;
            margin-top: -200px;
        }
    }

    .hospitals-nearby {
        background: white;

        flex-direction: column;
        padding: 0 50px;

        h2 {
            text-align: center;
            width: 100%;
            margin-top: 40px;
            margin-bottom: 50px;
        }

        .hospitals {
            justify-content: space-between;
            margin-bottom: 50px;

            img {
                width: 95%;
                border-radius: 16px;
            }


        }
    }

    .more-about-us {

        flex-direction: column;
        align-items: center;
        padding: 0 50px;

        h2 {
            text-align: center;
            width: 100%;
            margin-top: 25px;
        }

        .main-blog {

            justify-content: space-between;
            margin-bottom: 63px;

            .blog-img {
                width: 33%;
                height: 338px;
                background: $Light-Peach;
                margin-right: 25px;
                border-radius: 16px;
            }

            .blog-content {
                width: 64%;

                h3 {

                }

                .events {

                    align-items: center;

                    .event {

                        align-items: center;
                        margin-right: 25px;
                        margin-bottom: 10px;

                        img {
                            margin-right: 8px;
                        }
                    }
                }
            }
        }

        .additional-blogs {
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: 116px;


            .blog {

                flex-direction: column;
                width: 32%;


                .blog-img {
                    height: 240px;
                    background: $Light-Peach;
                    border-radius: 16px;
                    width: 100%;
                    margin: 0 0.5%;
                }

                h4 {
                    text-align: center;
                }
            }
        }
    }

    .testimonials {

        flex-direction: column;
        align-items: center;
        background: white;
        position: relative;
        padding: 60px 0;

        h2 {
            text-align: center;
            width: 100%;
            margin-bottom: 0;
            margin-top: 0;
        }

        .back-icon, .forward-icon {
            position: absolute;
            top: 50%;
        }

        .back-icon {
            left: 42px;
        }

        .forward-icon {
            right: 42px;
        }

        .testimonial {

            flex-direction: column;
            align-items: center;
            width: 100%;
            text-align: center;

            p {
                font-style: italic;
                max-width: 767px;
            }
        }
    }
}
