@import "src/styles";

@keyframes squeezeLeft {
    0% {
        transform: translateX(-40%);
    }
    100% {
        transform: translateX(-16%);
    }
}

@keyframes squeezeRight {
    0% {
        transform: translateX(40%);
    }
    100% {
        transform: translateX(20%);
    }
}

@keyframes slideInFromLeft {
    0% {
        left: 8%;
    }
    100% {
        left: 18%;
    }
}

@keyframes slideInFromRight {
    0% {
        right: 8%;
    }
    100% {
        right: 18%;
    }
}

@keyframes slideInFromBottom {
    0% {
        bottom: -5%;
    }
    100% {
        bottom: 0;
    }
}

@keyframes slideInFromBottomLove {
    0% {
        bottom: 32%;
    }
    100% {
        bottom: 40%;
    }
}


@keyframes fades {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


.homepage {
    flex-direction: column;

    .banner {
        flex-direction: column;
        align-items: center;
        height: calc(100vh - 48px - 32px);
        min-height: 400px;
        position: relative;

        h1 {
            text-align: center;
            margin-top: 55px;
            margin-bottom: 20px;
            width: 230px;
        }

        p {
            text-align: center;
            width: 320px;
        }


        .banner-img {
            width: 100%;
            bottom: 0;
            position: absolute;
            overflow-x: hidden;

            justify-content: center;
            z-index: 1;
            height: 65vh;

            img {
                width: 110%;
                bottom: 0;
                position: absolute;
            }
        }

        .banner-img-left {
            justify-content: flex-start;

            img {
                animation: 1.4s ease-out 0s 1 squeezeLeft;
                transform: translateX(-16%);

            }
        }

        .banner-img-right {
            justify-content: flex-end;

            img {
                animation: 1.4s ease-out 0s 1 squeezeRight;
                transform: translateX(20%);

            }
        }

        .fam-left {
            position: absolute;
            bottom: 5%;
            left: 18%;
            animation: 1.4s ease-out 0s 1 slideInFromLeft;
            z-index: 2;
            height: 100px;
        }

        .fam-right {
            position: absolute;
            bottom: 5%;
            right: 18%;
            animation: 1.4s ease-out 0s 1 slideInFromRight;
            z-index: 2;
            height: 100px;
        }

        .fam-top-sun {
            position: absolute;
            bottom: 0;
            animation: 1.6s ease-out 0s 1 slideInFromBottom;
            z-index: 0;
            height: 200px;
        }

        .fam-top-love {
            position: absolute;
            bottom: 40%;
            animation: 1.6s ease-out 0s 1 slideInFromBottomLove;
            z-index: 3;
            height: 32px;
        }
    }

    .awards-achievements {
        align-items: center;
        justify-content: center;
        height: 144px;
        padding: 0 25px;

        .aa-left, .aa-right, .aa-center {
            align-items: center;
            justify-content: space-between;
            width: 100%;
            animation: 1.6s ease-out 0s 1 fades;

            img {
                width: 33%;
            }
        }

        .aa-center {
            display: none;
        }
    }

    .health-first {
        flex-direction: column;
        background: white;
        padding: 45px 25px;

        section {
            flex-direction: column;
            align-items: center;
            margin-bottom: 0px;

            img {
                border-radius: 20px;
                width: 100%;
            }

            div {

                flex-direction: column;
                align-items: center;
                margin-bottom: 25px;

                h2 {
                    margin-top: 0;
                    margin-bottom: 0;
                    line-height: 2.5em;
                }

                p {
                    text-align: center;
                }
            }
        }

        .hf-1 {
            margin-bottom: 25px;

            img {
                margin-right: 0;
            }
        }

        .hf-2 {
            flex-direction: column-reverse;
            margin-bottom: 0;

            img {
                margin-left: 0;
            }
        }
    }

    .consult-with-doctors {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 200px;
        padding: 0 50px;

        h4 {
            margin: 0;
            line-height: 1.75em;
            margin-bottom: 20px;
            width: 280px;
            text-align: center;
        }
    }

    .quality-care {
        min-height: 100vh;
        flex-direction: column;
        position: relative;

        h2 {
            text-align: center;
            width: 100%;
            margin: 60px 0;
            font-weight: 400;
        }

        .bg {
            width: 100%;
            position: absolute;
            bottom: 0;
        }

        .quality-care-areas {
            flex-direction: column;
            padding: 0 25px;

            section {
                flex-direction: column;
                align-items: center;
                width: 100%;
                text-align: center;
                margin: 0;

                h4 {
                    margin: 0;
                }

                p {
                    display: none;
                }

                .mainimage {
                    width: 75%;
                    transition: 0.4s;
                }

                .mainimage:hover {
                    width: 85%;
                    transition: 0.4s;
                }

                .brick {
                    margin-top: 20px;
                    margin-bottom: 35px;
                    width: 100%;
                    padding: 0;

                    img {
                        width: 73px;
                    }
                }

                .brick-mobile {
                    display: flex;
                    width: 100%;
                    padding: 0;
                }

                .brick-desktop {
                    display: none;
                }


            }

            .paediatrics, .gynaecology, .maternity {
                .brick {
                    justify-content: flex-end;
                }
            }

            .neonatology, .fertility {
                .brick {
                    justify-content: flex-start;
                }
            }

        }

        .quality-care-areas:last-of-type {
            justify-content: center;
            margin-top: unset;
        }
    }

    .hospitals-nearby {
        background: white;

        flex-direction: column;
        padding: 0 25px;

        h2 {
            text-align: center;
            width: 100%;
            margin: 60px 0;
        }

        .hospitals {

            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 50px;

            img {
                margin-bottom: 25px;
                width: 100%;
            }
        }
    }

    .more-about-us {
        flex-direction: column;
        align-items: center;
        padding: 0 25px;

        h2 {
            margin: 60px 0;
            text-align: center;
            width: 100%;
            font-weight: 400;
        }

        .main-blog {
            display: none;
        }

        .additional-blogs {

            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;

            .blog {

                flex-direction: column;
                margin-bottom: 50px;
                width: 100%;


                .blog-img {
                    height: 240px;
                    background: $Light-Peach;
                    border-radius: 16px;
                    width: 100%;
                    margin: 0 0.5%;
                    margin-bottom: 35px;
                }

                h4 {
                    width: 100%;
                }
            }
        }
    }

    .testimonials {
        flex-direction: column;
        align-items: center;
        background: white;
        position: relative;
        padding: 60px 0;

        h2 {
            text-align: center;
            width: 100%;
            font-family: 'SharpGrotesk', sans-serif;
            font-weight: 400;
            margin-bottom: 25px;
            margin-top: 0;
        }

        .back-icon, .forward-icon {
            display: none;
        }

        .back-icon {
            display: none;
        }

        .forward-icon {
            display: none;
        }

        .testimonial {

            flex-direction: column;
            align-items: center;
            width: 100%;
            text-align: center;

            p {
                font-style: italic;
                padding: 0 25px;
                font-size: 20px;
            }
        }
    }

}


