@import "src/styles";

.page {
    display: flex;
    flex-direction: column;

    .banner {
        background: $Blue-W;
        min-height: 650px;
        position: relative;

        img {
            display: none;
        }
    }


    .secondary-banner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 240px;
        background: $LH-Blue;
        padding: 0 50px;

        h4 {
            margin-right: 45px;
            font-weight: 400;
            color: white;
            line-height: 1.3em;
        }

        img {
            height: 150px;
        }
    }

    .services {
        display: flex;
        justify-content: space-between;
        padding: 50px;

        img {
            height: 200px;
            width: 354.2px;
            border-radius: 16px;
            margin-right: 25px;
        }

        .img-desktop {
            display: flex;
        }

        .img-mobile {
            display: none;
        }


        .service-details {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            h2 {
                color: $LH-Blue;
                margin-bottom: 0.7em;
                line-height: 1.2em;
            }

            p {
                span {
                    font-weight: bold;
                }
            }


        }
    }

    .service-list {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 50px;

        .column {
            max-width: 350px;
            color: $LH-Blue;
            margin-right: 25px;

            h4 {
                color: $LH-Black;
                line-height: 1.4em;
                margin-bottom: 1em;
            }
        }

        .column:last-of-type {
            margin-right: 0;
        }
    }

    .packages {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 50px;

        h2 {
            color: $LH-Blue;
            margin-top: -12px;
            margin-bottom: 1.3em;
        }


        div {
            display: flex;
            flex-direction: column;
            max-width: 520px;
            margin-right: 25px;

            p {
                margin-bottom: 60px;
            }

            button {
                background: $Blue-B;
                max-width: 272px;
            }
        }

        img {
            border-radius: 16px;
            width: 355px;
        }

        .package-mobile {
            display: none;
        }
    }

    .consult-with-doctors {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 128px;
        background: $Light-Peach;

        h4 {
            margin-right: 70px;
            color: $LH-Blue;
        }
    }

}
