@import "src/styles";

@keyframes childs {
    0% {
        left: 89px;
    }
    100% {
        left: 108px;
    }
}

@keyframes tables {
    0% {
        left: 196px;
    }
    100% {
        left: 205px;
    }
}

@keyframes toy-1 {
    0% {
        left: 115px;
    }
    100% {
        left: 138px;
    }
}

@keyframes toy-2 {
    0% {
        left: 109px;
    }
    100% {
        left: 138px;
    }
}

@keyframes love {
    0% {
        right: 425px;
    }
    100% {
        right: 540px;
    }
}

@keyframes letter-1 {
    0% {
        right: 196px;
    }
    100% {
        right: 214px;
    }
}

@keyframes letter-2 {
    0% {
        right: 303px;
    }
    100% {
        right: 325px;
    }
}


.page {
    display: flex;
    flex-direction: column;

    .banner {
        background: $Blue-W;
        justify-content: flex-start !important;
        align-items: center;
        min-height: 700px;
        position: relative;

        h1, p {
            margin-left: 200px !important;
        }

        h1 {
            padding-top: 70px;
        }
    }

    .secondary-banner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 240px;
        background: $LH-Blue;

        h4 {
            width: 599px;
            margin-right: 265px;
            font-weight: 400;
            color: white;
            line-height: 1.3em;
        }

        img {
            height: 150px;
        }
    }

    .services {
        display: flex;
        justify-content: space-between;
        width: 1200px;
        padding-top: 120px;
        padding-bottom: 65px;
        margin: auto;

        img {
            height: 280px;
            width: 496px;
            border-radius: 16px;
        }

        .img-desktop {
            display: flex;
        }

        .img-mobile {
            display: none;
        }


        .service-details {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 600px;

            h2 {
                color: $LH-Blue;
                margin-top: 0.7em;
                margin-bottom: 0.7em;
                line-height: 1.2em;
            }

            p {
                span {
                    font-weight: bold;
                }
            }


        }
    }

    .service-list {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 1200px;
        margin: auto;
        padding-bottom: 100px;

        .column {
            max-width: 350px;
            color: $LH-Blue;

            h4 {
                color: $LH-Black;
                line-height: 1.4em;
                margin-bottom: 1em;
            }
        }

        .column:last-of-type {
            margin-right: 0;
        }
    }

    .packages {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-bottom: 131px;
        width: 1200px;
        margin: auto;

        h2 {
            color: $LH-Blue;
            margin-top: -12px;
            margin-bottom: 30px;
        }


        div {
            display: flex;
            flex-direction: column;
            max-width: 520px;
            margin-right: 120px;

            p {
                margin-bottom: 35px;
            }

            button {
                background: $Blue-B;
                max-width: 272px;
                color: white;

                img {
                    max-width: 20px;
                }
            }
        }

        img {
            border-radius: 16px;
            height: 280px;
            width: 496px;
        }

        .package-mobile {
            display: none;
        }
    }

    .consult-with-doctors {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 128px;
        background: $Light-Peach;

        h4 {
            margin-right: 70px;
            color: $LH-Blue;
        }
    }


    //Ped Specific
    .ped-banner {
        img {
            position: absolute;
        }

        .child {
            width: 391px;
            bottom: 60px;
            left: 108px;
            animation: 2s ease-out 0s 1 childs;
        }

        .table {
            width: 195px;
            bottom: 60px;
            left: 205px;
            animation: 2s ease-out 0s 1 tables;
        }

        .toy-1 {
            width: 70px;
            bottom: 256px;
            left: 138px;
            animation: 2s ease-out 0s 1 toy-1;
        }

        .toy-2 {
            width: 70px;
            bottom: 382px;
            left: 138px;
            animation: 2s ease-out 0s 1 toy-2;
        }

        .love {
            width: 62px;
            bottom: 62px;
            right: 540px;
            animation: 2s ease-out 0s 1 love;
        }

        .letter-1 {
            width: 167px;
            bottom: 62px;
            right: 214px;
            animation: 2s ease-out 0s 1 letter-1;
        }

        .letter-2 {
            width: 70px;
            bottom: 127px;
            right: 325px;
            animation: 2s ease-out 0s 1 letter-2;
        }

        .set {
            display: none;
        }
    }
}
