<app-header></app-header>

<div class="page">

    <div class="banner">

        <h1>Fertility at Lotus Hospitals</h1>
        <p>We understand that undergoing fertility treatment is emotionally and physically challenging. At Lotus Hospitals we proceed with an appropriate treatment only after understanding the unique nature of your and
            your partner’s sexual health. Every treatment is tailor-made to offer the best possible results each time and you can be rest assured of doctor-patient confidentiality which is strictly followed.
        </p>

        <img class="couple" alt="" src="assets/icons/fertility/couple.svg">
        <img class="vase-base" alt="" src="assets/icons/fertility/vase-base.svg">
        <img class="vase-1" alt="" src="assets/icons/fertility/vase-1.svg">
        <img class="vase-2" alt="" src="assets/icons/fertility/vase-2.svg">
        <img class="pillow-2" alt="" src="assets/icons/fertility/pillow-2.svg">
        <img class="pillow-1" alt="" src="assets/icons/fertility/pillow-1.svg">
        <img class="baby" alt="" src="assets/icons/fertility/baby.svg">

        <img class="set" alt="" src="assets/icons/fertility/set.svg">

    </div>

    <div class="secondary-banner">
        <h4>Becoming parents is something every couple looks forward to. We are here to
            help you navigate through all the uncertainties to get to your reason to smile again. There are options for everyone.</h4>
        <img src="assets/icons/fertility/nocompromise.svg">
    </div>


    <div class="services">
        <img class="img-desktop" src="assets/icons/fertility/bg_1.png">
        <div class="service-details">
            <h2>From partners to parents</h2>
            <img class="img-mobile" src="assets/icons/fertility/bg_1.png">
            <p>There is already a lot of stigma surrounding the subject of fertility and we are here to remove any such hesitation you might have. At Lotus Hospitals, we have the latest cutting-edge Assisted Reproductive
                Technology for embryology and fertility services to ensure that you and your partner get your best shot at becoming parents.
            </p>
        </div>
    </div>

    <div class="service-list">
        <div class="column">
            <h4>General Healthcare Services</h4>
            <p> Fertility Counselling</p>
            <p> Follicular Study</p>
            <p> Andrology & Semen Analysis</p>
            <p> Ovulation Induction</p>
            <p> Emotional Counselling</p>
        </div>
        <div class="column">
            <h4>Specialized Services & Minimally Invasive Surgery</h4>
            <p> Intra - Cytoplasmic Sperm Injection (ICSI)</p>
            <p> Intra - Uterine Insemination (IUI)</p>
            <p> In - Vitro Fertilisation (IVF)</p>
            <p> Surgical Sperm Recovery TESE / TESA / MESA / PESA</p>
            <p> Egg Donation / Embryo Donation</p>
        </div>
        <div class="column">
            <h4 class="blank">&nbsp;</h4>
            <p class="blank">&nbsp;</p>
        </div>

    </div>


    <!--    <div class="packages">-->
    <!--        <div>-->
    <!--            <h2>Our Healthcare Packages for Children</h2>-->
    <!--            <img class="package-mobile" src="assets/icons/services/paediatric-service.png">-->
    <!--            <p>Our pediatricians, specialists and caring staff provide pediatric care including preventative-->
    <!--                check-ups, diagnostics, imaging and specialty clinics.-->
    <!--                We provide well and preventative care for children from-->
    <!--                birth to 18 years of age. Our pediatricians, specialists and caring staff provide pediatric care-->
    <!--                including preventative check-ups, diagnostics,-->
    <!--                imaging and specialty clinics.</p>-->
    <!--            <button>View Packages</button>-->
    <!--        </div>-->
    <!--        <img class="package-desktop" src="assets/icons/services/paediatric-service.png">-->
    <!--    </div>-->


    <div class="consult-with-doctors">
        <h4>Consult with our doctors</h4>
        <button>Book Now</button>
    </div>
</div>

<app-footer></app-footer>
