<app-header></app-header>

<div class="page">

    <div class="banner">
        <h1> Lotus Hospitals Near You</h1>
        <p>Lotus Hospitals is ever-growing so that we remain a hospital that offers a wholesome value system which is accessible to all. So that you can Google “Hospitals near me,” and find us, your healthcare partner.
            Book an appointment online or call on 040 - 4040 4455.
        </p>
    </div>

    <div class="branch-list">
        <div class="branch">
            <img src="assets/icons/homepage/nearby-hospital.svg">
            <h3>Lotus Hospitals Lakdi ka Pul</h3>

            <!--todo Need Number-->
            <h4>+91-040 4040 4444</h4>
            <p>• 150 Bedded Hospital</p>
            <p>• Advanced ICU / NICU / PICU</p>
            <p>• Advanced Operation Theater</p>
            <p>• Best-in-class Labour Room</p>
            <p>• Located in the Heart of the City</p>
            <p>• Valet Parking Available</p>
            <p>• Highly Hygienic Cafeteria</p>
            <p>• Free Ambulance within 5km Radius
                (subject to availability) </p>
        </div>
        <div class="branch">
            <img src="assets/icons/homepage/nearby-hospital.svg">
            <h3>Lotus Hospitals Kukatpally</h3>
            <h4>+91-040 4040 4444</h4>
            <p>• 65 Bedded Hospital</p>
            <p>• Advanced ICU / NICU / PICU</p>
            <p>• Advanced Operation Theater</p>
            <p>• Best-in-class Labour Room</p>
            <p>• IVF Theatre & Laboratory</p>
            <p>• Valet Parking Available</p>
            <p>• Highly Hygienic Cafeteria</p>
            <p>• Free Ambulance within 5km Radius
                (subject to availability) </p>
        </div>
        <div class="branch">
            <img src="assets/icons/homepage/nearby-hospital.svg">
            <h3> Lotus Hospitals L.B. Nagar</h3>
            <h4>+91-040 4040 4444</h4>
            <p>• 50 Bedded Hospital</p>
            <p>• Advanced ICU / NICU / PICU</p>
            <p>• Advanced Operation Theater</p>
            <p>• Best-in-class Labour Room</p>
            <p>• Located on the Mainroad between L.B. Nagar & Nagole</p>
            <p>• Valet Parking Available</p>
            <p>• Highly Hygienic Cafeteria</p>
            <p>• Free Ambulance within 5km Radius
                (subject to availability) </p>
        </div>
        <div class="branch">
            <img src="assets/icons/homepage/nearby-hospital.svg">
            <h3> Lotus Hospitals Visakhapatnam</h3>
            <h4>+91-040 4040 4444</h4>
            <p>• 50 Bedded Hospital</p>
            <p>• Advanced ICU / NICU / PICU</p>
            <p>• Advanced Operation Theater</p>
            <p>• Best-in-class Labour Room</p>
            <p>• Located on Walter Mainroad</p>
            <p>• Valet Parking Available</p>
            <p>• Highly Hygienic Cafeteria</p>
            <p>• Free Ambulance within 5km Radius
                (subject to availability) </p>
        </div>
    </div>

    <div class="consult-with-doctors">
        <h4>Consult with our doctors</h4>
        <button>Book Now</button>
    </div>
</div>


<app-footer></app-footer>
