<app-header></app-header>

<div class="branches">

    <div class="banner">
        <h1>Our Branches</h1>
        <p>India’s Finest 250 bedded Women and Children’s Hospital requires the following personnel immediately:
            We are recruiting Resident doctors who can join immediately. Qualification – MBBS, Experience – 0 to 5 Years,
            Shift – Rotational Shift. Interested Candidates may email resumes to: hr@lotushospitals.in or contact between 9 am to 6 pm at 5th
            Floor Administration.</p>
    </div>

    <div class="branch-list">
        <div class="branch">
            <img src="assets/icons/homepage/nearby-hospital.svg">
            <h3>Lakdipul</h3>
            <h4>+91-040 4040 4444</h4>
            <p>• 150 Bedded Hospital</p>
            <p>• Advanced ICU / NICU / PICU</p>
            <p>• Advanced Operation Theater</p>
            <p>• Best in class labour room</p>
            <p>• Located at heart of the city</p>
            <p>• Beside the Lakdikapul bus stop</p>
        </div>
        <div class="branch">
            <img src="assets/icons/homepage/nearby-hospital.svg">
            <h3>Kukatpally</h3>
            <h4>+91-040 4040 4444</h4>
            <p>• 150 Bedded Hospital</p>
            <p>• Advanced ICU / NICU / PICU</p>
            <p>• Advanced Operation Theater</p>
            <p>• Best in class labour room</p>
            <p>• Located at heart of the city</p>
            <p>• Beside the Lakdikapul bus stop</p>
        </div>
        <div class="branch">
            <img src="assets/icons/homepage/nearby-hospital.svg">
            <h3>L B Nagar</h3>
            <h4>+91-040 4040 4444</h4>
            <p>• 150 Bedded Hospital</p>
            <p>• Advanced ICU / NICU / PICU</p>
            <p>• Advanced Operation Theater</p>
            <p>• Best in class labour room</p>
            <p>• Located at heart of the city</p>
            <p>• Beside the Lakdikapul bus stop</p>
        </div>
        <div class="branch">
            <img src="assets/icons/homepage/nearby-hospital.svg">
            <h3>Vishakapatnam</h3>
            <h4>+91-040 4040 4444</h4>
            <p>• 150 Bedded Hospital</p>
            <p>• Advanced ICU / NICU / PICU</p>
            <p>• Advanced Operation Theater</p>
            <p>• Best in class labour room</p>
            <p>• Located at heart of the city</p>
            <p>• Beside the Lakdikapul bus stop</p>
        </div>
    </div>

    <div class="consult-with-doctors">
        <h4>Consult with our doctors</h4>
        <button>Book Now</button>
    </div>
</div>


<app-footer></app-footer>
