<app-header></app-header>

<div class="page">

    <div class="banner">
        <h1> Lotus Hospitals Near You</h1>
        <p>Lotus Hospitals is ever-growing so that we remain a hospital that offers a wholesome value system which is accessible to all. So that you can Google “Hospitals near me,” and find us, your healthcare partner.
            Book an appointment online or call on 040 - 4040 4455.
        </p>
    </div>

    <div class="branch-list">
        <div class="branch">
            <img src="assets/icons/branches/Lakdikapul.png"
                 (click)="viewOnMap('https://www.google.com/maps/place/Lotus+Hospitals+For+Women+%26+Children/@17.404107,78.461124,15z/data=!4m5!3m4!1s0x0:0xde9d3a704411d69b!8m2!3d17.4041067!4d78.4611235?hl=en&shorturl=1')">

            <h3>Lotus Hospitals Lakdikapul</h3>
            <h4>040 4040 (4444) / (4400)</h4>
            <p>• 150 Bedded Hospital</p>
            <p>• Advanced ICU / NICU / PICU</p>
            <p>• Advanced Operation Theater</p>
            <p>• Best-in-class Labour Room</p>
            <p>• Located in the Heart of the City</p>
            <p>• Valet Parking Available</p>
            <p>• Highly Hygienic Cafeteria</p>
            <p>• Free Ambulance within 5km Radius
                (subject to availability) </p>
        </div>
        <div class="branch">
            <img src="assets/icons/branches/Kukkatpally.png"
                 (click)="viewOnMap('https://www.google.com/maps/place/Lotus+Hospitals+For+Women+%26+Children/@17.490997,78.393075,15z/data=!4m5!3m4!1s0x0:0xcde3943dafdc0bc0!8m2!3d17.490997!4d78.393075?hl=en')">

            <h3>Lotus Hospitals Kukatpally</h3>
            <h4>040 4040 (6666) / (6688) / (6699)</h4>
            <p>• 65 Bedded Hospital</p>
            <p>• Advanced ICU / NICU / PICU</p>
            <p>• Advanced Operation Theater</p>
            <p>• Best-in-class Labour Room</p>
            <p>• IVF Theatre & Laboratory</p>
            <p>• Valet Parking Available</p>
            <p>• Highly Hygienic Cafeteria</p>
            <p>• Free Ambulance within 5km Radius
                (subject to availability) </p>
        </div>
        <div class="branch">
            <img src="assets/icons/branches/LBNagar.png"
                 (click)="viewOnMap('https://www.google.com/maps/place/Lotus+Hospitals+For+Women+%26+Children/@17.351729,78.554743,15z/data=!4m5!3m4!1s0x0:0x5ab87609a28b6ebd!8m2!3d17.3517291!4d78.5547431?hl=en')">

            <h3> Lotus Hospitals L.B. Nagar</h3>
            <h4> 040 4040 2222</h4>
            <p>• 50 Bedded Hospital</p>
            <p>• Advanced ICU / NICU / PICU</p>
            <p>• Advanced Operation Theater</p>
            <p>• Best-in-class Labour Room</p>
            <p>• Located on the Mainroad between L.B. Nagar & Nagole</p>
            <p>• Valet Parking Available</p>
            <p>• Highly Hygienic Cafeteria</p>
            <p>• Free Ambulance within 5km Radius
                (subject to availability) </p>
        </div>
        <div class="branch">
            <img src="assets/icons/branches/Vishakapatnam.png"
                 (click)="viewOnMap('https://www.google.com/maps/place/Lotus+Hospitals+For+Women+And+Children/@17.721374,83.314876,15z/data=!4m5!3m4!1s0x0:0x6d70dff7e7320b30!8m2!3d17.7213739!4d83.3148756?hl=en')">

            <h3> Lotus Hospitals Visakhapatnam</h3>
            <h4> 0891 6656 6666</h4>
            <p>• 50 Bedded Hospital</p>
            <p>• Advanced ICU / NICU / PICU</p>
            <p>• Advanced Operation Theater</p>
            <p>• Best-in-class Labour Room</p>
            <p>• Located on Walter Mainroad</p>
            <p>• Valet Parking Available</p>
            <p>• Highly Hygienic Cafeteria</p>
            <p>• Free Ambulance within 5km Radius
                (subject to availability) </p>
        </div>
    </div>

    <div class="consult-with-doctors">
        <h4>Consult with our doctors</h4>
        <a href="/contactus">
            <button>Book Now</button>
        </a>
    </div>
</div>


<app-footer></app-footer>
