.page {
    .banner {

        img {
            position: relative;
            animation: none;
        }

        .mother-mater {
            display: none;
        }

        .vase {
            display: none;
        }

        .horse {
            display: none;

        }

        .gift {
            display: none;
        }

        .set {
            display: flex;
            width: 60%;
        }


    }

}

