.page {
    .banner {

        img {
            position: relative;
            animation: none;
        }

        .mother {
            width: 60%;
            animation: none;
            position: relative;
            left: unset;
            bottom: unset;
        }

        .vase {
            display: none;
        }

        .horse {
            display: none;

        }

        .gift {
            display: none;
        }


    }

}

