.page {
    .banner {

        img {
            position: relative;
            animation: none;
        }

        .mother {
            width: 80%;
            animation: none;
            position: relative;
            left: unset;
            bottom: unset;
        }

        .windows {
            display: none;
        }

        .vase-1 {
            display: none;

        }

        .flower-1 {
            display: none;

        }

        .vase-2 {
            display: none;

        }

        .flower-2 {
            display: none;

        }

        .vase-3 {
            display: none;

        }

        .flower-3 {
            display: none;

        }

        .vase-4 {
            display: none;

        }

        .flower-4 {
            display: none;

        }


    }

}

