.page {
    .banner {

        img {
            position: relative;
            animation: none;
            width: 60%;
        }

        .mother {
            display: none;
        }

        .windows {
            display: none;
        }

        .vase-1 {
            display: none;
        }

        .flower-1 {
            display: none;
        }

        .vase-2 {
            display: none;
        }

        .flower-2 {
            display: none;
        }

        .vase-3 {
            display: none;
        }

        .flower-3 {
            display: none;
        }

        .vase-4 {
            display: none;
        }

        .flower-4 {
            display: none;
        }

        .set {
            display: flex;
            width: 60%;
        }

    }

}

