@import "../../../../../styles";

.app-top-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: $top-footer-height;
    background: $LH-Blue;
    padding: 25px;

    .footer-main {
        display: flex;
        justify-content: space-between;
        margin-bottom: 80px;

        .fm-left {
            display: flex;
            margin-right: 100px;
        }

        .fm-right {
            display: flex;
            align-items: flex-start;

            .column {
                display: flex;
                flex-direction: column;
                margin-right: 35px;

                h4 {
                    margin-top: 0;
                    line-height: 1.5em;
                    color: $LH-Peach;
                }

                p {
                    color: white;
                    line-height: 1.5em;
                    cursor: pointer;
                }
            }


        }
    }

    .footer-bottom {
        width: 100%;
        text-align: center;
        color: $LightGray;
        font-size: 0.8125em;
    }
}

.app-bottom-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: $bottom-footer-height;
    background: $LH-Peach;
    color: white;

    h4 {
        margin-right: 25px;
    }

    .social {
        display: flex;
        align-items: center;

        img {
            margin-right: 13px;
            cursor: pointer;
            transition: 0.4s;
        }

        img:hover {
            opacity: 0.6;
            transition: 0.4s;
        }
    }

    p {
        margin-right: 25px;
    }
}
