<div class="app-top-footer">
    <div class="footer-main">
        <div class="fm-left">
            <img alt="Your Family Doctor" src="assets/icons/homepage/family-doctor.svg">
        </div>
        <div class="fm-right">
            <div class="column">
                <h4>Services</h4>
                <a href="#/paediatrics">
                    <p class="captions">Paediatrics</p>
                </a>
                <a href="#/gynaecology">
                    <p class="captions">Gynaecology</p>
                </a>
                <a href="#/fertility">
                    <p class="captions">Fertility</p>
                </a>
                <a href="#/maternity">
                    <p class="captions">Maternity</p>
                </a>
                <a href="#/neonatology">
                    <p class="captions">Neonatology</p>
                </a>
            </div>
            <div class="column">
                <h4>Care For All</h4>
                <a href="#/packages">
                    <p class="captions">Pediatric Health Packages</p>
                </a>
                  <a href="#/packages/women">
                    <p class="captions">Women's Health Packages</p>
                </a>
                <a href="#/about">
                    <p class="captions">About</p>
                </a>
                <a href="#/doctors">
                    <p class="captions">Doctors</p>
                </a>
            </div>
            <div class="column">
                <h4>Join Lotus</h4>
                <a href="#/careers">
                    <p class="captions">Careers</p>
                </a>
                <a href="#/corporates">
                    <p class="captions">Corporates</p>
                </a>
                <a href="#/education">
                    <p class="captions">Education</p>
                </a>
            </div>
        </div>


    </div>
    <div class="footer-bottom">
        Copyright © 2020 Lotus Hospitals For Women and Children. All rights reserved.
    </div>


</div>
<div class="app-bottom-footer">
    <h4>Find Us On</h4>
    <div class="social">
        <img alt="Facebook" src="assets/icons/homepage/facebook.svg">
        <img alt="Youtube" src="assets/icons/homepage/youtube.svg">
        <img alt="Instagram" src="assets/icons/homepage/instagram.svg">
    </div>
    <div>
        <div>
            <p class="caption">Lakadikapul</p>
            <p class="caption">+91-040 4040 4444</p>
        </div>
        <div>
            <p class="caption">LB Nagar</p>
            <p class="caption">+91-40 4040 2222</p>
        </div>
        <div>
            <p class="caption">Kukatpally</p>
            <p class="caption">+91-040 4040 4444</p>
        </div>
        <div>
            <p class="caption">Visakapatnam</p>
            <p class="caption">+(91)-891-6656666</p>
        </div>
    </div>
</div>
