$pri_font_family: Work Sans;
$sec_font_family: serif;

div, header {
    font-family: "Work Sans", sans-serif;
}

@media only screen and (min-width: 1280px) {
    h1 {
        font-size: 3.5em;
        font-family: 'SharpGrotesk', "Work Sans", sans-serif;
        font-weight: 500;
    }

    h2 {
        font-size: 2.5em;
        line-height: 60px;
        font-family: 'SharpGrotesk', "Work Sans", sans-serif;
        font-weight: 500;
    }

    h3 {
        font-size: 32px;
        line-height: 48px;
        font-family: "Work Sans", sans-serif;
        font-weight: 500;
    }

    h4 {
        font-size: 24px;
        line-height: 32px;
        font-family: "Work Sans", sans-serif;
        font-weight: 500;
    }

    p {
        font-size: 1em;
        line-height: 32px;
        font-family: "Work Sans", sans-serif;
    }

    p.caption {
        font-size: 1em;
        line-height: 24px;
        font-family: "Work Sans", sans-serif;
    }

    header {
        font-size: 1em;
        line-height: 32px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
    h1 {
        font-size: 3em;
        font-family: 'SharpGrotesk', "Work Sans", sans-serif;
        font-weight: 500;
    }

    h2 {
        font-size: 2em;
        line-height: 48px;
        font-family: 'SharpGrotesk', "Work Sans", sans-serif;
        font-weight: 500;
    }

    h3 {
        font-size: 1.5em;
        line-height: 32px;
        font-family: "Work Sans", sans-serif;
        font-weight: 500;
    }

    h4 {
        font-size: 1.2em;
        line-height: 24px;
        font-weight: 500;
        font-family: "Work Sans", sans-serif;
    }

    p {
        font-size: 1em;
        line-height: 1.3em;
        font-weight: 400;
        font-family: "Work Sans", sans-serif;
    }

    p.caption {
        font-size: 1em;
        line-height: 1.3em;
        font-weight: 400;
        font-family: "Work Sans", sans-serif;

    }
}

@media only screen and (max-width: 767px) {
    h1 {
        font-size: 2.5em;
        line-height: 48px;
        font-family: 'SharpGrotesk', "Work Sans", sans-serif;
        font-weight: 500;
    }

    h2 {
        font-size: 32px;
        line-height: 48px;
        font-family: 'SharpGrotesk', "Work Sans", sans-serif;
        font-weight: 500;
    }

    h3 {
        font-size: 1.75em;
        line-height: 2em;
        font-family: "Work Sans", sans-serif;
        font-weight: 500;
    }

    h4 {
        font-size: 1.5em;
        line-height: 1.5em;
        font-family: "Work Sans", sans-serif;
        font-weight: 500;
    }

    p {
        font-size: 1em;
        line-height: 1.75em;
        font-family: "Work Sans", sans-serif;
        font-weight: 400;
    }

    p.caption {
        font-size: 1em;
        line-height: 1.5em;
        font-family: "Work Sans", sans-serif;
        font-weight: 400;
    }

    p.quotes {
        font-size: 1.25em;
        line-height: 1.35em;
        font-family: "Work Sans", sans-serif;
        font-weight: 400;
    }
}

a, a:link, a:visited {
    text-decoration: none;
    cursor: pointer;
}





