<app-header></app-header>

<div class="doctors">

    <div class="banner">
        <h1>The Lotus team
            of Specialists</h1>
        <p>India’s Finest 250 bedded Women and Children’s Hospital requires the following personnel immediately:
            We are recruiting Resident doctors who can join immediately. Qualification – MBBS, Experience – 0 to 5 Years,
            Shift – Rotational Shift. Interested Candidates may email resumes to: hr@lotushospitals.in or contact between 9 am to 6 pm at 5th
            Floor Administration.</p>
    </div>


    <div class="consult-with-doctors">
        <h4>Consult with our doctors</h4>
        <button>Book Now</button>
    </div>
</div>


<app-footer></app-footer>
