<app-header></app-header>

<div class="page">

    <div class="banner">
        <h1>The Lotus Team of Specialists</h1>
        <p>Under the aegis of Dr. V.S.V. Prasad, Lotus Hospitals has garnered a lot of respect in the field of medicine and has a
            team of experts and specialists that are some of the best in the field
        </p>
    </div>


    <div class="meet-our-team">
        <div class="meet-our-team-filters">
            <h2>Meet Our Team</h2>
            <div class="filters">
                <div class="input-group">
                    <input placeholder="Search" [(ngModel)]="searchText" (ngModelChange)="search()">
                    <img src="assets/icons/doctors/search.svg">
                </div>
                <app-dropdown class="dropdown" [dropdownItems]="locations" [dropdownConfig]="dpLocation" [(dropdownSelectedItem)]="selectedLocation" (dropdownSelectedItemChange)="search()"></app-dropdown>
                <app-dropdown class="dropdown" [dropdownItems]="specialties" [dropdownConfig]="dpSpecialty" [(dropdownSelectedItem)]="selectedSpecialty" (dropdownSelectedItemChange)="search()" ></app-dropdown>
            </div>
        </div>

        <div class="doctors-list">
            <ng-container *ngFor="let doctor of doctors.slice(0, endslice)">
                <div class="doctor" *ngIf="doctor.isdisplayed">
                    <img src="assets/icons/doctors/doctor.svg">
                    <h4>{{doctor.doctor_name}}</h4>
                    <p class="caption quali">{{doctor.qualifications}}</p>
                    <p class="caption position">{{doctor.specialty}}</p>
                </div>
            </ng-container>
        </div>

        <div class="button-container">
            <button (click)="viewMore()">View More</button>
        </div>
    </div>


    <div class="consult-with-doctors">
        <h4>Consult with our doctors</h4>
        <a href="#/contactus">
            <button>Book Now</button>
        </a>
    </div>
</div>


<app-footer></app-footer>
