<app-header></app-header>

<div class="page">

    <div class="banner">
        <h1> Corporates Allied with Lotus Hospitals</h1>
        <p>To keep up with our promise of care — to provide world-class healthcare that is accessible to all, we have allied with many insurance companies,
            third party administrators (TPA) and government bodies that
            provide medical insurance.
        </p>
    </div>

    <div class="companies">
        <h4 class="title">Insurance Companies & TPA – Lakdi ka Pul</h4>
        <div class="company-list">
            <div class="company">
                <p>Aditya Birla Health Insurance Co. Ltd.</p>
                <p> Alankit Health TPA Ltd.</p>
                <p> Apollo Munich Health Insurance Co. Ltd.</p>
                <p> Bajaj Allianz General Insurance Co. Ltd.</p>
                <p> Cholamandalam General Insurance Co. Ltd.</p>
                <p> Cigna – TTK Health Insurance Co. Ltd.</p>
                <p> Dedicated Health TPA Pvt. Ltd.</p>
                <p> E-Meditek TPA Pvt. Ltd.</p>
                <p> Family Health Plan Ltd.</p>
                <p> Future General Insurance Co. Ltd.</p>
                <p> Genins India TPA. Ltd.</p>
            </div>
            <div class="company">
                <p> Good Health Plan Ltd.</p>
                <p> Health India TPA Pvt. Ltd.</p>
                <p> Heritage Health TPA Ltd.</p>
                <p> Hdfc Ergo General Insurance Co. Ltd.</p>
                <p> Icici Lombard General Insurance Co. Ltd.</p>
                <p> Iffco Tokio General Insurance Co. Ltd.</p>
                <p> Kotak Mahindra Insurance Co. Ltd.</p>
                <p> Mdindia Health TPA Pvt. Ltd.</p>
                <p> Medi Assist India TPA Pvt. Ltd.</p>
                <p> Medicare TPA Pvt. Ltd.</p>
                <p> Paramount Health TPA Pvt. Ltd.</p>
            </div>
            <div class="company">
                <p> Park Mediclaim TPA Ltd.</p>
                <p> Raksha TPA Pvt. Ltd.</p>
                <p> Reliance General Insurance Co. Ltd.</p>
                <p> Religare Health Insurance Co. Ltd.</p>
                <p> Star Well Health Services Pvt. Ltd.</p>
                <p> Star Health & Allied Insurance Co. Ltd.</p>
                <p> United Parekh Health TPA Pvt. Ltd.</p>
                <p> Universal Sompo General Insurance Co. Ltd.</p>
                <p> Vidal Health TPA Pvt. Ltd.</p>
                <p> Videocon General Insurance Co. Ltd.</p>
                <p> Vipul Medcorp TPA Pvt. Ltd.</p>
            </div>
        </div>

        <h4 class="title"> Corporates & Govt. Health Schemes – Lakdi ka Pul</h4>
        <div class="company-list">
            <div class="company">
                <p> AP – EPDCL</p>
                <p> Arogya Bhadratha (Telangana & AP)</p>
                <p> Aarogyasri (Telangana & AP)</p>
                <p> ASCI (Administrative Staff College of India)</p>
                <p> BHEL (Bharat Heavy Electricals Ltd.)</p>
                <p> CCMB (Centre for Cellular and Microbiology)</p>
                <p> HPCL (Hindustan Petro Chemicals Ltd.)</p>
            </div>
            <div class="company">
                <p> IICT (India Institute of Chemical Technology)</p>
                <p> ITC (India Tobacco Corporation)</p>
                <p> MANUU (Maulana Azad National Urdu University)</p>
                <p> NGRI (National Geographic Research Centre)</p>
                <p> NIT (National Institute of Technology)</p>
                <p> NMDC (National Mineral Development Corporation)</p>
                <p> NRSC (National Remote Sensing Centre)</p>
            </div>
            <div class="company">
                <p>ONGC (Oil & Natural Gas Corporation) </p>
                <p>SPF (Special Protection Force – Telangana) </p>
                <p>State Govt. Recognition (DME - Telangana) </p>
                <p> TS – GENCO </p>
                <p> TS – NPDCL </p>
                <p> TS – SPDCL </p>
                <p> TS – TRANSCO </p>
                <p> Vajpayee Aarogyasri </p>
            </div>
        </div>

        <p class="quotes">Call on 040 4040 (4444) / (4400) or write to us at info@lotushospitals.in to find out if your insurance company is associated with
            Lotus Hospitals, Lakdi ka Pul and covers the hospitalisation of
            your family member or yourself.
        </p>

        <h4 class="title"> Insurance Companies & TPA – Kukatpally</h4>
        <div class="company-list">
            <div class="company">
                <p> Aditya Birla Health Insurance Co. Ltd.</p>
                <p> Apollo Munich Health Insurance Co. Ltd.</p>
                <p> Bajaj Allianz General Insurance Co. Ltd.</p>
                <p> Cholamandalam General Insurance Co. Ltd.</p>
                <p> Cigna – TTK Health Insurance Co. Ltd.</p>
                <p> Dedicated Health TPA Pvt. Ltd.</p>
                <p> Family Health Plan Ltd.</p>
                <p> Future General Insurance Co. Ltd.</p>
                <p> Genins India TPA. Ltd.</p>
            </div>
            <div class="company">
                <p> Good Health Plan Ltd.</p>
                <p> Heritage Health TPA Ltd.</p>
                <p> HDFC ERGO General Insurance Co. Ltd.</p>
                <p> ICICI Lombard General Insurance Co. Ltd.</p>
                <p> IFFCO Tokio General Insurance Co. Ltd.</p>
                <p> Kotak Mahindra Insurance Co. Ltd.</p>
                <p> Mdindia Health TPA Pvt. Ltd.</p>
                <p> Medicare TPA Pvt. Ltd.</p>
                <p> Paramount Health TPA Pvt. Ltd.</p>
            </div>
            <div class="company">
                <p> Park Mediclaim TPA Ltd.</p>
                <p> Raksha TPA Pvt. Ltd.</p>
                <p> Reliance General Insurance Co. Ltd.</p>
                <p> Religare Health Insurance Co. Ltd.</p>
                <p> Star Well Health Services Pvt. Ltd.</p>
                <p> Star Health & Allied Insurance Co. Ltd.</p>
                <p> United Parekh Health TPA Pvt. Ltd.</p>
                <p> Universal Sompo General Insurance Co. Ltd.</p>
                <p> Videocon General Insurance Co. Ltd.</p>
                <p> Vipul Medcorp TPA Pvt. Ltd.</p>
            </div>
        </div>

        <h4 class="title"> Corporates – Kukatpally</h4>
        <div class="company-list">
            <div class="company">
                <p> BHEL </p>
                <p> NRSC</p>
            </div>
        </div>

        <p class="quotes">Call on 040 4040 (6666) / (6688) / (6669) or write to us at info@lotushospitals.in to find out if your insurance
            company is associated with Lotus Hospitals, Kukatpally and covers the
            hospitalisation of your family member or yourself.
        </p>


        <h4 class="title"> Insurance Companies & TPA – Visakhapatnam</h4>
        <div class="company-list">
            <div class="company">
                <p> Aditya Birla Health Insurance Co. Ltd.</p>
                <p> Apollo Munich</p>
                <p> Bajaj Allianz General Insurance Co. Ltd.</p>
                <p> Cholamandalam General Insurance Co. Ltd.</p>
                <p> Cigna – TTK Health Insurance Co. Ltd.</p>
            </div>
            <div class="company">
                <p> Family Health Plan Insurance TPA Limited
                <p> Future General Insurance Co. Ltd.</p>
                <p> Good Health Plan Ltd.</p>
                <p> HDFC ERGO General Insurance Co. Ltd.</p>
                <p> ICICI Lombard General Insurance Co. Ltd.</p>
            </div>
            <div class="company">
                <p>Max Bupa</p>
                <p>TATA AIG</p>
                <p>Universal Sompo General Insurance Co. Ltd</p>
            </div>
        </div>

        <p class="quotes">Call on 0891 6656 6666 or write to us at info@lotushospitals.in to find out if your insurance company is associated with Lotus Hospitals, Visakhapatnam and covers the hospitalisation of your
            family member or yourself.
        </p>

    </div>


    <div class="consult-with-doctors">
        <h4>Consult with our doctors</h4>
        <a href="#/contactus">
            <button>Book Now</button>
        </a>
    </div>
</div>

<app-footer></app-footer>
