<app-header></app-header>

<div class="page">

    <div class="banner">
        <h1>For Corporates</h1>
        <p>India’s Finest 250 bedded Women and Children’s Hospital requires the following personnel immediately:
            We are recruiting Resident doctors who can join immediately. Qualification – MBBS, Experience – 0 to 5 Years, Shift – Rotational Shift.
            Interested Candidates may email resumes to: hr@lotushospitals.in or contact between 9 am to 6 pm at 5th Floor Administration.</p>
    </div>

    <div class="companies">
        <h4 class="title">Insurance Companies / TPAs (Third party administrators) associated with LHWC – Lakdikapul, Hyderabad</h4>
        <h4 class="desc">TPA / Insurance Co.</h4>

        <div class="company-list">
            <div class="company">
                <p>Aditya Birla Health Insurance Co. Ltd.</p>
                <p> Alankit Health TPA Ltd.</p>
                <p> Apollo Munich Health Insurance Co. Ltd.</p>
                <p> Bajaj Allianz General Insurance Co. Ltd.</p>
                <p> Cholamandalam General Insurance Co. Ltd.</p>
                <p> Cigna – TTK Health Insurance Co. Ltd.</p>
                <p> Dedicated Health TPA Pvt. Ltd.</p>
                <p> E-Meditek TPA Pvt. Ltd.</p>
                <p> Family Health Plan Ltd.</p>
                <p> Future General Insurance Co. Ltd.</p>
                <p> Genins India TPA. Ltd.</p>
                <p> Good Health Plan Ltd.</p>
            </div>
            <div class="company">
                <p>Aditya Birla Health Insurance Co. Ltd.</p>
                <p> Alankit Health TPA Ltd.</p>
                <p> Apollo Munich Health Insurance Co. Ltd.</p>
                <p> Bajaj Allianz General Insurance Co. Ltd.</p>
                <p> Cholamandalam General Insurance Co. Ltd.</p>
                <p> Cigna – TTK Health Insurance Co. Ltd.</p>
                <p> Dedicated Health TPA Pvt. Ltd.</p>
                <p> E-Meditek TPA Pvt. Ltd.</p>
                <p> Family Health Plan Ltd.</p>
                <p> Future General Insurance Co. Ltd.</p>
                <p> Genins India TPA. Ltd.</p>
                <p> Good Health Plan Ltd.</p>
            </div>
            <div class="company">
                <p>Aditya Birla Health Insurance Co. Ltd.</p>
                <p> Alankit Health TPA Ltd.</p>
                <p> Apollo Munich Health Insurance Co. Ltd.</p>
                <p> Bajaj Allianz General Insurance Co. Ltd.</p>
                <p> Cholamandalam General Insurance Co. Ltd.</p>
                <p> Cigna – TTK Health Insurance Co. Ltd.</p>
                <p> Dedicated Health TPA Pvt. Ltd.</p>
                <p> E-Meditek TPA Pvt. Ltd.</p>
                <p> Family Health Plan Ltd.</p>
                <p> Future General Insurance Co. Ltd.</p>
                <p> Genins India TPA. Ltd.</p>
                <p> Good Health Plan Ltd.</p>
            </div>
        </div>

        <h4 class="title">Corporates & Govt. Health schemes associated with LHWC – Lakdikapul</h4>
        <div class="company-list">
            <div class="company">
                <p>Aditya Birla Health Insurance Co. Ltd.</p>
                <p> Alankit Health TPA Ltd.</p>
                <p> Apollo Munich Health Insurance Co. Ltd.</p>
                <p> Bajaj Allianz General Insurance Co. Ltd.</p>
                <p> Cholamandalam General Insurance Co. Ltd.</p>
                <p> Cigna – TTK Health Insurance Co. Ltd.</p>
                <p> Dedicated Health TPA Pvt. Ltd.</p>
                <p> E-Meditek TPA Pvt. Ltd.</p>
                <p> Family Health Plan Ltd.</p>
                <p> Future General Insurance Co. Ltd.</p>
                <p> Genins India TPA. Ltd.</p>
                <p> Good Health Plan Ltd.</p>
            </div>
            <div class="company">
                <p>Aditya Birla Health Insurance Co. Ltd.</p>
                <p> Alankit Health TPA Ltd.</p>
                <p> Apollo Munich Health Insurance Co. Ltd.</p>
                <p> Bajaj Allianz General Insurance Co. Ltd.</p>
                <p> Cholamandalam General Insurance Co. Ltd.</p>
                <p> Cigna – TTK Health Insurance Co. Ltd.</p>
                <p> Dedicated Health TPA Pvt. Ltd.</p>
                <p> E-Meditek TPA Pvt. Ltd.</p>
                <p> Family Health Plan Ltd.</p>
                <p> Future General Insurance Co. Ltd.</p>
                <p> Genins India TPA. Ltd.</p>
                <p> Good Health Plan Ltd.</p>
            </div>
            <div class="company">
                <p>Aditya Birla Health Insurance Co. Ltd.</p>
                <p> Alankit Health TPA Ltd.</p>
                <p> Apollo Munich Health Insurance Co. Ltd.</p>
                <p> Bajaj Allianz General Insurance Co. Ltd.</p>
                <p> Cholamandalam General Insurance Co. Ltd.</p>
                <p> Cigna – TTK Health Insurance Co. Ltd.</p>
                <p> Dedicated Health TPA Pvt. Ltd.</p>
                <p> E-Meditek TPA Pvt. Ltd.</p>
                <p> Family Health Plan Ltd.</p>
                <p> Future General Insurance Co. Ltd.</p>
                <p> Genins India TPA. Ltd.</p>
                <p> Good Health Plan Ltd.</p>
            </div>
        </div>

        <p class="quotes">Contact us at Branch Name, phone number with extension , info@lotushospitals.in
            to find out if your insurance company covers the hospitalization of your family member / child.</p>

    </div>


    <div class="consult-with-doctors">
        <h4>Consult with our doctors</h4>
        <button>Book Now</button>
    </div>
</div>

<app-footer></app-footer>
