@import "src/styles";

@keyframes couple {
    0% {
        left: 88px;
    }
    100% {
        left: 125px;
    }
}

@keyframes vase-base {
    0% {
        left: 108px;
    }
    100% {
        left: 125px;
    }
}

@keyframes vase-1 {
    0% {
        left: 113px;
    }
    100% {
        left: 140px;
    }
}

@keyframes vase-2 {
    0% {
        left: 319px;
    }
    100% {
        left: 357px;
    }
}

@keyframes baby {
    0% {
        right: 267px;
    }
    100% {
        right: 310px;
    }
}

@keyframes pillow-1 {
    0% {
        right: 207px;
    }
    100% {
        right: 233px;
    }
}

@keyframes pillow-2 {
    0% {
        right: 139px;
    }
    100% {
        right: 165px;
    }
}

.page {
    .banner {
        background: $Blue-W;

        img {
            position: absolute;
        }

        .couple {
            width: 347px;
            bottom: 187px;
            left: 125px;
            animation: 2s ease-out 0s 1 couple;
        }

        .vase-base {
            width: 347px;
            bottom: 112px;
            left: 125px;
            animation: 2s ease-out 0s 1 vase-base;
        }

        .vase-1 {
            width: 86px;
            bottom: 153px;
            left: 140px;
            animation: 2s ease-out 0s 1 vase-1;
        }

        .vase-2 {
            width: 138px;
            bottom: 44px;
            left: 357px;
            animation: 2s ease-out 0s 1 vase-2;
        }

        .baby {
            width: 173px;
            bottom: 34px;
            right: 310px;
            animation: 2s ease-out 0s 1 baby;
        }

        .pillow-1 {
            width: 99px;
            bottom: 34px;
            right: 233px;
            animation: 2s ease-out 0s 1 pillow-1;
        }

        .pillow-2 {
            width: 118px;
            bottom: 34px;
            right: 165px;
            animation: 2s ease-out 0s 1 pillow-2;
        }


    }

}

