.page {
    .banner {

        img {
            position: relative;
            animation: none;
        }

        .couple {
            width: 80%;
            animation: none;
            position: relative;
            left: unset;
            bottom: unset;
        }

        .vase-base {
            display: none;
        }

        .vase-1 {
            display: none;
        }

        .vase-2 {
            display: none;
        }

        .baby {
            display: none;
        }

        .pillow-1 {
            display: none;
        }

        .pillow-2 {
            display: none;
        }


    }

}

