@import "src/styles";

.meet-our-team {
    display: flex;
    flex-direction: column;
    padding: 50px;

    .meet-our-team-filters {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        margin-bottom: 35px;

        h2 {
            color: $LH-Peach;
            margin-bottom: 50px;
        }


        .filters {
            display: flex;

            .input-group {
                display: flex;
                padding: 10px 20px;
                background: white;
                border-radius: 16px;
                border: 2px solid $Blue-P;
                margin-right: 12px;

                input {
                    background: transparent;
                    border: none;
                    margin-left: 15px;
                }

                input:focus {
                    border: none;
                    outline: none;
                }

                input::placeholder {
                    color: $Blue-B;
                }
            }

            .dropdown {
                margin-right: 12px;
            }

        }
    }

    .doctors-list {
        display: flex;
        flex-wrap: wrap;

        .doctor {
            display: flex;
            flex-direction: column;
            width: calc(25% - 25px);
            margin-right: 25px;
            margin-bottom: 65px;
            text-align: center;

            .quali {
                margin-top: 15px;
                color: $Blue-P;
            }

            .position {
                margin-top: 7px;
                color: $LH-Blue;
            }

            img {
                display: none;
            }
        }
    }
}

