.page {
    .banner {

        img {
            position: relative;
            animation: none;
        }

        .set {
            display: flex;
            width: 60%;
        }

        .father {
            display: none;
        }


        .babyhand {
            display: none;
        }

        .bird-1 {
            display: none;
        }

        .table {
            display: none;
        }

        .bird-2 {
            display: none;
        }

        .bird-3 {
            display: none;
        }

        .floor {
            display: none;
        }

        .clouds {
            display: none;
        }


    }

}

