@import "src/styles";

.page {
    .banner {
        background: url("../../../assets/icons/about/bg_about.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.established {
    display: flex;
    justify-content: center;
    padding: 110px 0;

    .img-mobile {
        display: none !important;
    }

    .left, .right {
        width: 599px;

        p {
            margin-bottom: 1em;

            span {
                font-weight: bold;
            }
        }
    }

    .left {
        margin-right: 25px;

        h2 {
            margin-bottom: 47px;
            color: $LH-Blue;
        }
    }

    .right-img {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 40px;

        img {
            width: 375px;
        }
    }
}

.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
    background: $Blue-W;
    color: $LH-Blue;

    h2 {
        margin-bottom: 80px;
    }

    .timeline-mobile {
        display: none;
    }

}

.promise-of-care {
    background: url("../../../assets/icons/about/bg_promise_care.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0;

    h2 {
        color: white;
        margin-bottom: 40px;
    }

    p {
        max-width: 700px;
        text-align: center;
        font-style: italic;
        color: white;
        font-size: 20px;
    }
}
