@import "src/styles";

.established {
    display: flex;
    justify-content: center;
    padding: 110px 0;

    .left, .right {
        width: 599px;
    }

    .left {
        margin-right: 12px;
    }
}

.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 0;
    padding-top: 30px;
    background: $Blue-W;
    color: $LH-Blue;

}

.promise-of-care {
    background: $LightGray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 0;
    padding-top: 30px;

    h2 {
        color: $LH-Blue;
    }

    p {
        max-width: 700px;
        text-align: center;
        font-style: italic;
    }
}


@media only screen and (min-width: 1280px) {
    @import "about.desktop";
}

@media only screen and (max-width: 1280px) and (min-width: 768px) {
    @import "about.tablet";
}

@media only screen and (max-width: 767px) {
    @import "about.mobile";
}
