@import "src/styles";

.page {
    .banner {
        background: url("../../../assets/icons/corporates/bg_corporates.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.companies {
    display: flex;
    flex-direction: column;
    padding: 80px 108px;

    h4 {
        line-height: 1.75em;
    }

    .title {
        width: 100%;
    }

    .desc {
        width: 100%;
    }

    .quotes {
        font-weight: 300;
        font-style: italic;
        width: 100%;
    }

    .company-list {
        display: flex;
        justify-content: space-between;
        margin-bottom: 90px;
        margin-top: 30px;

        .company {
            display: flex;
            flex-direction: column;
            padding-right: 10px;
        }
    }
}

