<app-header></app-header>

<div class="global-services">

    <div class="banner">
        <div class="banner-left banner-desktop">
            <img src="assets/icons/services/paediatrics.svg">
        </div>
        <div class="banner-right">
            <h1>Gynecology at Lotus Hospitals</h1>
            <p>Dr. V.S.V. Prasad is the most sought-after pediatrician in the country and has a legacy of setting up hospitals
                that provide global standard medical care for children. Our team of pediatricians, specialists and caring staff
                provide the best of emergency, intensive and preventative care for children from birth through teenage. </p>
        </div>
        <div class="banner-left banner-mobile">
            <img class="child" src="assets/icons/services/paediatrics.svg">
            <img class="toys" src="assets/icons/services/paediatrics-toys.svg">
        </div>
    </div>

    <div class="secondary-banner">
        <h4>We know that when it comes to the health of your child, there are no compromises. We are on the same page as
            you.</h4>
        <img src="assets/icons/services/nocompromise.svg">
    </div>


    <div class="services">
        <img src="assets/icons/services/paediatric-service.png">
        <div class="service-details">
            <h2>Pioneers in Emergency & Intensive Care</h2>
            <p>We often take on challenging cases that are later deemed medical miracles. The Pediatric Intensive Care
                Unit has been accredited by the Indian Academy of Pediatrics — Intensive Care Chapter & the Pediatric
                Section of the Indian Society, New Delhi.
            </p>
        </div>
    </div>

    <div class="service-list">
        <div class="column">
            <h4>General Healthcare Services</h4>
            <p>• Neonatology Services </p>
            <p>• General Pediatrics </p>
            <p>• Critical Care Services </p>
            <p>• Pediatric Surgery </p>
            <p>• Pediatric Anaesthesiology </p>
            <p>• Minimal Invasive Surgery </p>
            <p>• Emergency Orthopedic Surgery </p>
            <p>• Neurology & Neurosurgery </p>
            <p>• Pediatric Ophthalmology</p>
        </div>
        <div class="column">
            <h4>Specialized Services & Minimally Invasive Surgery</h4>
            <p>• Pediatric Dental & Dental Surgery </p>
            <p>• Pediatric ENT Surgery </p>
            <p>• Pediatric Gastroenterology & Surgery on GI Tract & Intestines </p>
            <p>• Pediatric Urology Surgery </p>
            <p>• Plastic Surgery </p>
            <p>• Pediatric Rehabilitation Services </p>
            <p>• Pediatric Dietetics & Nutritional Services</p>
        </div>
        <div class="column">
            <h4>&nbsp;</h4>
            <p>&nbsp;</p>
            <p>• Pediatric Dental & Dental Surgery </p>
            <p>• Pediatric ENT Surgery </p>
            <p>• Pediatric Gastroenterology & Surgery on GI Tract & Intestines </p>
            <p>• Pediatric Urology Surgery </p>
            <p>• Plastic Surgery </p>
            <p>• Pediatric Rehabilitation Services </p>
            <p>• Pediatric Dietetics & Nutritional Services</p>
        </div>

    </div>


    <div class="packages">
        <div>
            <h2>Our Healthcare Packages for Children</h2>
            <img class="package-mobile" src="assets/icons/services/paediatric-service.png">
            <p>Our pediatricians, specialists and caring staff provide pediatric care including preventative
                check-ups, diagnostics, imaging and specialty clinics.
                We provide well and preventative care for children from
                birth to 18 years of age. Our pediatricians, specialists and caring staff provide pediatric care
                including preventative check-ups, diagnostics,
                imaging and specialty clinics.</p>
            <button>View Packages</button>
        </div>
        <img class="package-desktop" src="assets/icons/services/paediatric-service.png">
    </div>


    <div class="consult-with-doctors">
        <h4>Consult with our doctors</h4>
        <button>Book Now</button>
    </div>
</div>

<app-footer></app-footer>
