<app-header></app-header>

<div class="page">

    <div class="banner">
        <h1>Gynecology & Obstetrics at Lotus Hospitals</h1>
        <p>We want to be the hospital you come to at all the important turning points in your life. Our gynecologists are here with you
            through your teenage years, your maternal years and when you revisit someday holding
            the hand of your teenage daughter.
        </p>

        <img class="mother" alt="" src="assets/icons/gynaecology/mother.svg">
        <img class="windows" alt="" src="assets/icons/gynaecology/windows.svg">
        <img class="flower-1" alt="" src="assets/icons/gynaecology/flower-1.svg">
        <img class="flower-2" alt="" src="assets/icons/gynaecology/flower-2.svg">
        <img class="vase-1" alt="" src="../../assets/icons/gynaecology/vase-1.svg">
        <img class="vase-2" alt="" src="../../assets/icons/gynaecology/vase-2.svg">
        <img class="vase-3" alt="" src="assets/icons/gynaecology/vase-3.svg">
        <img class="vase-4" alt="" src="assets/icons/gynaecology/vase-4.svg">
        <img class="flower-3" alt="" src="assets/icons/gynaecology/flower-3.svg">
        <img class="flower-4" alt="" src="assets/icons/gynaecology/flower-4.svg">
    </div>

    <div class="secondary-banner">
        <h4>Life comes a full circle at Lotus Hospitals. </h4>
        <img src="assets/icons/services/nocompromise.svg">
    </div>


    <div class="services">
        <img class="img-desktop" src="assets/icons/services/paediatric-service.png">
        <div class="service-details">
            <h2>Here to hold your hand</h2>
            <img class="img-mobile" src="assets/icons/services/paediatric-service.png">
            <p>We understand the bodily and emotional changes a woman’s body goes through and our team of gynecologists are here to be your moral support system. There might be many questions surrounding your general and
                sexual health that we are happy to demystify for you.
            </p>
        </div>
    </div>

    <div class="service-list">
        <div class="column">
            <h4>General Healthcare Services</h4>
            <p> Well Women’s Clinic</p>
            <p> Cancer Detection & Prevention Clinic</p>
            <p> Vaccination Clinic</p>
            <p> Adolescent Gynecology Clinic</p>
            <p> Menstruation</p>
            <p> Pre & Post Menopausal Clinic</p>
            <p> Ultrasound Scanning</p>
        </div>
        <div class="column">
            <h4>Specialized Services & Minimally Invasive Surgery</h4>
            <p> Laparoscopic Gynecology Clinic</p>
            <p> Urogynecology Clinic</p>
            <p> Contraception Clinic</p>
            <p> Endometriosis</p>
        </div>
        <div class="column">
            <h4 class="blank">&nbsp;</h4>
            <p class="blank">&nbsp;</p>
            <p> Sexual Health Clinic</p>
            <p> Ovarian Cysts & PCOD / PCOS</p>
            <p> Uterine Fibroids</p>
        </div>

    </div>


    <div class="packages">
        <div>
            <h2>Our Healthcare Packages for Women</h2>
            <img class="package-mobile" src="assets/icons/services/paediatric-service.png">
            <p>The department of Gynecology at Lotus Hospitals has been led and nurtured by Dr. V. Hemamalini Prasad and consists of some
                of the best gynecologists in the field. Our in-house diagnostics services ensure a
                pleasant experience. We are here to hold your hand and help you every step of the way.
            </p>
            <button>View Packages</button>
        </div>
        <img class="package-desktop" src="assets/icons/services/paediatric-service.png">
    </div>


    <div class="consult-with-doctors">
        <h4>Consult with our doctors</h4>
        <button>Book Now</button>
    </div>
</div>

<app-footer></app-footer>
