@import "app/shared/stylesheets/fonts.scss";
@import "app/shared/stylesheets/colors.scss";
@import "app/shared/stylesheets/button.scss";
@import "app/shared/stylesheets/input.scss";
@import "app/shared/stylesheets/loader.scss";
@import "app/shared/stylesheets/tabs.scss";
@import "app/shared/stylesheets/pagelayout.scss";


html, body, input, textarea, p, header, a, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

$top-header-height: 48px;
$bottom-header-height: 80px;
$top-footer-height: 351px;
$bottom-footer-height: 129px;


@font-face {
    font-family: 'SharpGrotesk';
    font-display: swap;
    src: local('SharpGrotesk'), url(assets/fonts/SharpGroteskDBMedium20.ttf) format('truetype');
}
