<app-header></app-header>

<div class="page">

    <div class="banner">
        <h1>Maternity at Lotus Hospitals</h1>
        <p>For expecting mothers, we take care of every aspect of your pregnancy including emotional counselling to help you navigate through all the emotions you will be going through. We are here to answer your
            queries, however big or small they may seem.
        </p>

        <img class="mother" alt="" src="assets/icons/maternity/mother.svg">
        <img class="vase" alt="" src="assets/icons/maternity/vase.svg">
        <img class="horse" alt="" src="assets/icons/maternity/horse.svg">
        <img class="gift" alt="" src="assets/icons/maternity/gift.svg">

    </div>

    <div class="secondary-banner">
        <h4>We know how precious this time is for you when you’re transitioning from partners to parents.
            Here for all your maternity needs. Baby steps towards having your baby. </h4>
        <img src="assets/icons/maternity/nocompromise.svg">
    </div>

    <div class="services">
        <img class="img-desktop" src="assets/icons/maternity/bg_1.png">
        <div class="service-details">
            <h2>Happy mothers & healthy babies</h2>
            <img class="img-mobile" src="assets/icons/maternity/bg_1.png">
            <p>The doctors and care providers at Lotus Hospitals are specially trained to be able to provide the utmost care and comfort to you. Our diagnostic equipment is world class, and our labour and birthing suites
                are designed keeping in mind to ensure you are at ease, both, physically and mentally.
            </p>
        </div>
    </div>

    <div class="service-list">
        <div class="column">
            <h4>General Healthcare Services</h4>
            <p> 24 Hours Emergency Maternity Services </p>
            <p> Pre Pregnancy Counselling</p>
            <p> Antenatal Services</p>
            <p> Gynecological Services</p>
            <p> Ultrasound</p>
            <p> Yoga Sessions</p>
            <p> Prenatal Screening & Diagnostics</p>
            <p> Labour & Doula Services</p>
            <p> Lactation Support</p>
            <p> Pre & Post Delivery Physiotherapy</p>
            <p> Dietetics & Nutrition Clinic for Pre & Post Pregnancy</p>
        </div>
        <div class="column">
            <h4>Specialized Services & Minimally Invasive Surgery</h4>
            <p> Pregnancy with APLA</p>
            <p> Pregnancy with Obesity</p>
            <p> Pregnancy with Maternal Congenital Heart Disease</p>
            <p> Pregnancy with Diabetes</p>
            <p> Pregnancy with Anemia</p>
            <p> Pregnancy with Twins & High Order Births</p>
            <p> Vaginal Birth after Cesarean</p>
        </div>
        <div class="column">
            <h4>Specialized Services & Minimally Invasive Surgeries</h4>
            <p> Natural Delivery</p>
            <p> C-Section Delivery</p>
            <p> Diagnostic Laparoscopy with Ovarian Drilling</p>
            <p> Myomectomy</p>
            <p> Tubectomy</p>
            <p> Laparoscopically Assisted Vaginal Hysterectomy (LAVH) / TLH</p>
        </div>
    </div>


    <!--    <div class="packages">-->
    <!--        <div>-->
    <!--            <h2>Our Healthcare Packages for Children</h2>-->
    <!--            <img class="package-mobile" src="assets/icons/services/paediatric-service.png">-->
    <!--            <p>Our pediatricians, specialists and caring staff provide pediatric care including preventative-->
    <!--                check-ups, diagnostics, imaging and specialty clinics.-->
    <!--                We provide well and preventative care for children from-->
    <!--                birth to 18 years of age. Our pediatricians, specialists and caring staff provide pediatric care-->
    <!--                including preventative check-ups, diagnostics,-->
    <!--                imaging and specialty clinics.</p>-->
    <!--            <button>View Packages</button>-->
    <!--        </div>-->
    <!--        <img class="package-desktop" src="assets/icons/services/paediatric-service.png">-->
    <!--    </div>-->


    <div class="consult-with-doctors">
        <h4>Consult with our doctors</h4>
        <button>Book Now</button>
    </div>
</div>

<app-footer></app-footer>
