@import "src/styles";

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

    header {
        padding: 15px 20px;
        border-bottom: 1px solid #efefef;
        transition: 0.4s;
        cursor: pointer;
        white-space: nowrap;
    }

    header:hover {
        background: $LH-Blue;
        color: white;
        transition: 0.4s;
        border-bottom: 1px solid $LH-Blue;
    }

    header:last-of-type {
        border-bottom: none;
    }
}

.dropdown:hover .dropdown-content {
    display: block;
}


@media only screen and (min-width: 1280px) {
    @import "header.component.desktop";
}

@media only screen and (max-width: 1280px) and (min-width: 768px) {
    @import "header.component.tablet";
}

@media only screen and (max-width: 768px) {
    @import "header.component.mobile";
}


