@import "src/styles";

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    z-index: 1;
    margin-left: 33px;

    header {
        padding: 15px 20px;
        transition: 0.4s;
        cursor: pointer;
        white-space: nowrap;
        color: $LH-Black;
    }

    header:hover {
        background: $LH-Blue;
        color: white;
        transition: 0.4s;
    }

    header:last-of-type {
        border-bottom: none;
    }
}

.dropdown:hover .dropdown-content {
    display: block;
}


@media only screen and (min-width: 1280px) {
    @import "header.component.desktop";
}

@media only screen and (max-width: 1280px) and (min-width: 768px) {
    @import "header.component.tablet";
}

@media only screen and (max-width: 768px) {
    @import "header.component.mobile";
}


